[2019-08-16 17:30] immanuelfodor opened #1 "Add OpenSSH 8 recommendations"
Hi Joe,

The tool currently suggests recommended settings for OpenSSH 7.6 but I currently have `OpenSSH_8.0p1, OpenSSL 1.1.1c 28 May 2019`, so it would be great to have up-to-date kex/mac/etc recommendations what to enable, disable, and so on. There might be such in the official docs but the tool should make it easy to find them via its output.

[code]

[2019-08-16 18:48] jtesta opened #2 "Display Server Fingerprints"
The tool should output the server's fingerprints in SHA-1 and SHA256 formats.

[2019-08-16 19:10] jtesta opened #3 "Client Configuration Tests"
There should be a client configuration test mode.  The tool could listen on localhost:22, then parse the options supported by the incoming client connection.

Hence, client-side hardening can be done to prevent weak connections to lax servers.

[2019-08-18 13:49] graysky2 opened #4 "Please use a tag to signify a new release"
This will help maintainers of the package.

[2019-08-18 13:52] jtesta commented on #4
I was already planning that.  ;)

But what package maintainers are you referring to?

[2019-08-18 14:20] graysky2 commented on #4
This package is the [AUR](https://aur.archlinux.org/packages/ssh-audit/) so at least Arch and clones are using it.

[2019-08-18 14:25] jtesta commented on #4
Gotcha.  I see that you notified them that development is continuing on my repo.  Thanks for that!

[2019-08-18 18:45] jtesta opened #5 "Enable Travis"
Travis CI needs to be enabled on this repo.  This may take quite a lot of tweaking to get working...

[2019-08-22 19:48] #2 closed

[2019-08-22 20:07] jtesta commented on #1
@immanuelfodor I just pushed an update to the master branch.  Can you give it a test against your v8.0 instance?  Thanks!

[2019-08-22 20:46] jtesta opened #6 "If SSHv1 is enabled, it should be flagged more prominently"
When SSHv1 is found, only a message in red is displayed in the general information section that it is enabled.

A recommendation should be included that suggests it be disabled entirely.  Furthermore, perhaps a CVE exists for the version 2 -> version 1 downgrade attack?

[2019-08-23 03:14] immanuelfodor commented on #1
Nice work, looks good, you were very quick with the update!

It might be just one guy's opinion but what do you think about this? I followed this guide since published:

https://stribika.github.io/2015/01/04/secure-secure-shell.html

Change log at the bottom:

The audit tool can't determine the MACs order in the config, this is why these are marked for removal? Do you have some counter-proof that

[2019-08-23 16:04] jtesta commented on #1
That's funny, because that exact same guide is what got me into this SSH hardening topic years ago!  It hasn't been updated in a while, though, so I made my own based on it here: https://www.sshaudit.com/hardening_guides.html.

The Encrypt-and-MAC design introduced much more attack surface (see DJM's blog post about it here; he's the OpenSSH maintainer: http://blog.djm.net.au/2013/11/chacha20-and-

[2019-08-24 07:49] immanuelfodor commented on #1
Thanks for the detailed explanation, now I have better understanding of this and hardened further my config thanks to your guidance! :) I think we can close this issue now.

[2019-08-24 07:49] #1 closed

[2019-08-24 13:00] immanuelfodor commented on #1
Please let me one further question I just came to: why is that your guide doesn't include the below 3 kex algorithms while the tool recommends them? Are there some caveats using them in some circumstances, and so being [optionally recommended](https://tools.ietf.org/id/draft-baushke-ssh-dh-group-sha2-02.xml#n-key-exchange-algorithms) doesn't add value?

[code]

[2019-08-26 16:42] immanuelfodor commented on #1
According to https://www.openssh.com/txt/release-5.7 the order of kex algorithms matter:

In this case where would you put these in the recommended line?

`KexAlgorithms curve25519-sha256,curve25519-sha256@libssh.org,diffie-hellman-group-exchange-sha256`

`25519, 25519@, group18, group16, dhge` maybe?

From what you said, I have a feeling that dhge would result in a warning in the future as I thin

[2019-08-26 17:40] immanuelfodor commented on #1
Well, thank you for everything, this was one of the best and most interesting Github conversations for me. These additional bits of information, opinions and suggestions would worth a blog post to let others know about it, too, if you are going to update your guide, you could use it to enrich it. Thanks again!

[2019-08-26 19:12] jtesta opened #7 "Add TinySSH support"
Add TinySSH support (https://tinyssh.org/).  Currently, the tool thinks it is OpenSSH and makes recommendations to add algorithms it doesn't have.

[2019-08-27 07:42] immanuelfodor commented on #1
Wow, bookmarked it!

[2019-08-28 02:28] #7 closed

[2019-08-29 19:46] jtesta commented on #4
Done.  v2.0.0 has been released!

[2019-08-29 19:46] #4 closed

[2019-08-29 20:23] graysky2 commented on #4
Updated, thanks.

https://aur.archlinux.org/cgit/aur.git/commit/?h=ssh-audit&id=01297ea0ecdb92560d8a81ffe032709bb4a88432

[2019-08-29 20:47] jtesta commented on #4
Great!

I noticed, though, that the "url" field of the SRCINFO and PKGBUILD files still point to arthepsy's branch instead of mine.

[2019-08-29 20:52] graysky2 commented on #4
Dammit... `vimdiff` error on my part.  Fixed now.

https://aur.archlinux.org/cgit/aur.git/commit/?h=ssh-audit&id=685c73a7d9d67060766b8bfd4313913235e27f2f

[2019-09-16 19:23] rugk opened #8 "Detach from unmaintained upstream version"
Maybe you can detach this repo from the not maintained fork?

You can this either [do it manually](https://www.quora.com/Git-revision-control-How-can-one-detach-a-forked-project-in-GitHub#ld_fjxjzo_52503) **or** – which I recommend – just contact the GitHub support to do it for you.

This…
1. shows that this is a real maintained project and not just a repo of someone who (once) made a pull request

[2019-09-16 19:47] jtesta commented on #8
Thanks for the feedback!  Yes, that does make sense to do.

In the short-term, however, I'm trying to not make drastic changes in case the original author wakes up and decides he wants to continue.  I figure I should wait about 6 months or so.  After that, splitting off and making architecture changes would be fair game.

I'll keep this issue open as a reminder in February/March 2020.

[2019-09-19 18:58] brantleyp1 opened #9 "Add Sun_SSH support"
I assume this is the issue, but am using your script to test vulnerability fixes on some Solaris hosts and the ones with Openssh installed work correctly. On the hosts with sun_ssh I get:

[code]
Installed ssh is:
[code]
System isn't fully updated but is fairly recent:
[code]

A system that returned usable info is set up as:
[code]

Let me know if there's any other data/info you need or how I coul

[2019-09-19 20:13] jtesta commented on #9
Thanks for the report!

I haven't installed Solaris in 15+ years, so I don't have any test machines, and I don't know the difficulty level at this point, either.  If you could perhaps temporarily make the SSH service available over the internet for me to test with, that would really speed things up.

If you can do this, please send me an email at jtesta -at-sign- positronsecurity -dot- com, and I'

[2019-09-19 23:20] jtesta commented on #9
I got another idea: is the full server code publicly available?  If so, I could see about compiling it on Linux and testing it that way.

If that works, then I could integrate the process into the regular testing.  That would be ideal, as future updates would be guaranteed to maintain compatibility.

[2019-09-20 00:14] jtesta commented on #9
@brantleyp1 Good news!  I was able to get access to a Sun_SSH server, debug the problem, and apply a fix to the `dev` branch.  Can you give it a try?

[2019-09-20 01:41] brantleyp1 commented on #9
Still error, but new error:
[code]

Thank you for plugging away at this!

[2019-09-20 01:50] brantleyp1 commented on #9
Just for grins I checked on an older solaris system and the `dev` branch did work!

I got successful scan on:
[code]

[2019-09-20 02:28] jtesta commented on #9
Well that's some good news.

Ok, try refreshing your `dev` branch.  I don't have a test machine to see if the newest fix is correct, but I made an educated guess.

[2019-09-20 03:04] brantleyp1 commented on #9
Very educated! That got it!
[code]

Thank you so much!

[2019-09-20 03:10] jtesta commented on #9
Great!  And you're welcome!

Since I just made a stable release not too long ago, and because I'd like to make more improvements first, I'm not planning on releasing another stable version for at least a couple more weeks.  But I always aim to keep the `dev` branch in good working order.  So you can keep using that in the meantime.

Please let me know if anything else goes wrong!

[2019-09-20 03:10] #9 closed

[2019-09-27 22:25] jtesta opened #10 "Add Policy Checks"
The tool should be able to parse a policy file and test a server for compliance.  This would help admins with many machines immediately know what server(s) are not adhering to their policy.

Strong default policies should be included for Ubuntu Server and CentOS.

[2019-09-27 22:26] jtesta opened #11 "Parse Input File For List of Targets"
It should be possible for an input file to be given to the tool, with a list of target servers inside.  This would make policy scanning of many machines very easy to do.

[2019-11-14 21:52] jtesta commented on #3
Implemented in v2.1.0.

[2019-11-14 21:52] #3 closed

[2019-11-19 01:47] egberts opened #13 "ControlMaster"
Yeah, SSH client 'ControlMaster' should also be checked as 'disabled' as well.

Just unclear as how to enable an SSH client to see if such server can support 'ControlMaster'

IMHO, ControlMaster should have been compiled out by default.   But they took that compile options out way back in OpenSSH v3.9.

In my bash alias file, I have the following:
[code]

[2019-11-19 01:59] egberts commented on #8
This arena is big enough for both of you.   Forge ahead!

[2019-11-19 17:59] jtesta commented on #13
Thanks for the suggestion!  Unfortunately, it seems like this feature would only be testable after the entire SSH handshake was completed.  It may even need full authentication performed as well.

That would make this outside the scope of this project.  There is no code to perform that much handshaking.  The project mostly focuses on analyzing the first couple messages during the connection setup

[2019-11-19 17:59] #13 closed

[2019-11-19 22:07] egberts commented on #13
Good analysis; I've included a link here for historical purpose of making this a (unrelated) issue:

https://www.nccgroup.trust/us/about-us/newsroom-and-events/blog/2019/october/bypassing-authentication-on-ssh-bastion-hosts/

[2019-11-19 22:14] egberts opened #14 "INFO: An ideal sshd_config"
Some of us wants the `sshd_config` to get to the point of 'maximum' security before customization so I've included the OpenSSH server config file here for your enjoyment:

Output of this `ssh_audit.py` is ALL GREEN:

[code]

`sshd_config` for the above ALL green is:

[code]

[2019-11-19 22:17] egberts commented on #13
More on this... https://xorl.wordpress.com/2018/02/04/ssh-hijacking-for-lateral-movement/

[2019-11-22 19:49] jtesta commented on #14
What OS is this for?

FYI, I wrote hardening guides for a couple common OSes: https://www.ssh-audit.com/hardening_guides.html

If this is for an OS I don't have covered, I can add it to the list.

[2019-11-23 18:54] egberts commented on #14
Debian 9.

[2019-12-10 12:28] NinjaDrac2791 opened #15 "Would like to check can we call a list of IP address??"
Is there any switch/flag that I can call a list of IP's to perform this audit ??

[2019-12-10 15:38] jtesta commented on #15
At this time, no.  It is a planned feature in the future, however (see #11).

[2019-12-10 15:38] #15 closed

[2020-01-02 07:01] ckalinwi opened #16 "cast128-ctr and blowfish-ctr are listed as fail and/or warn, but aren't part of recommendations at end"
cast128-ctr and blowfish-ctr (correctly) fail in the client (-c) report:

[snipped]

# encryption algorithms (ciphers)
(enc) aes256-gcm@openssh.com                -- [info] available since OpenSSH 6.2
(enc) aes128-gcm@openssh.com                -- [info] available since OpenSSH 6.2
(enc) aes256-ctr                            -- [info] available since OpenSSH 3.7, Dropbear SSH 0.52
(enc) aes192-ctr

[2020-01-08 20:03] jtesta commented on #16
Thanks for letting me know.

To speed up testing, what client & version did you encounter this with?

[2020-01-08 20:17] ckalinwi commented on #16
Tera Term 4.105.

Your script also yelled about all the Camellia ciphers that TeraTerm has
turned on by default but I figured, given that I've seen Camellia _no where
else_ in relation to SSH, that it was a waste of time to submit those.

On Wed, Jan 8, 2020 at 2:03 PM Joe Testa <notifications@github.com> wrote:

[2020-02-19 23:56] jauderho opened #17 "Deprecate ssh-rsa recommendation in favor of ed25519 or rsa-sha2-256/512"
As of OpenSSH 8.2, there is now notice that ssh-rsa will be deprecated in the near future.

https://www.openssh.com/releasenotes.html

SHA-1 hash algorithm for less than USD$50K. For this reason, we will
be disabling the "ssh-rsa" public key signature algorithm that depends
on SHA-1 by default in a near-future release.

[2020-02-20 00:20] jtesta commented on #17
[I checked in the changes](https://github.com/jtesta/ssh-audit/commit/c9a2f2955c47feab371af9f3b3e8ea7d1ff73c89) for this already into the `dev` branch.  I was planning on making a stable release with it soon, actually.

I appreciate that you pinged me about it anyway!  Glad to see that people are paying attention!

[2020-02-20 00:20] #17 closed

[2020-02-21 04:21] ckalinwi opened #18 "Might have jumped the gun on ssh-rsa removal"
Not ALL types of "ssh-rsa" keys are going to be deprecated - only the ones signed by SHA-1.  The phrasing is confusing in the announcement.
They do say:

`"For this reason, we will be disabling the "ssh-rsa" public key signature algorithm that depends
on SHA-1 by default in a near-future release."`

but then go on to mention as one alternative:

`"The RFC8332 RSA SHA-2 signature algorithms rsa-sha

[2020-02-22 06:29] KiloFoxtrotPapa opened #19 "port= long option does not work"
Currently running `ssh-audit --port=22 example.com` would fail with the error `option --port must not have an argument`

[2020-02-23 00:17] ckalinwi commented on #18
Argh, that's what I get for reading a diff on my phone.  It looks like the code handles it correctly.

[2020-02-23 17:59] jtesta commented on #18
No problem.  I'm glad that people are paying attention at least!

[2020-03-10 23:26] jtesta commented on #16
Fixed in the `dev` branch.  I also added the missing Camellia ciphers.  I'll be making a stable release soon with them included.

Thanks for reporting this!

[2020-03-10 23:26] #16 closed

[2020-03-11 16:05] jtesta commented on #19
Merged and released in v2.2.0.  Thanks!

[2020-03-11 16:05] #19 closed

[2020-03-30 07:15] immanuelfodor opened #21 "Add an OPNsense SSH hardening guide"
Hi @jtesta,

According to https://github.com/opnsense/core/issues/3975, there will be new SSH config options in OPNsense 20.7, so it'd be great to add these to the common OS list at https://www.ssh-audit.com/hardening_guides.html maybe below pfSense (as OPNsense is its fork).

Until the new settings are released, users can enable them by running these commands on their OPNsense box/vm:

[code]

As

[2020-03-30 21:41] pikrzysztof opened #22 "config taken from the hardening guide crashes auditing software"
This is what's in my sshd config, I've taken the values from the value taken from https://www.ssh-audit.com/hardening_guides.html#ubuntu_18_04_lts :
[code]
what the program does?
[code]

where's the server says:

[code]

minimal working example, the program gives the same output:
[code]
Commenting out HostKeyAlgorithms makes the program run fine.

This is a fresh `pip install` in a `archlinux:late

[2020-03-31 00:02] jtesta commented on #22
Thanks for the feedback.

Could you please post your entire sshd_config file?

Also, what OS are you using?

On 3/30/20 5:41 PM, pikrzysztof wrote:

--
Joseph S. Testa II
Founder & Principal Security Consultant
Positron Security

[2020-03-31 09:43] pikrzysztof commented on #22
SSH server is running on `Ubuntu 18.04.4 LTS (Bionic Beaver)`, it's an `openssh-server` version 1:7.6p1-4ubuntu0.3.

here's the config, I'm connecting from behind the firewall (public internet) so the last rule applies.
[code]

[2020-03-31 19:46] jtesta commented on #21
You know, I've been thinking of putting the SSH hardening guides into
their own Github repo.  That way the community can better contribute.
In that case, would you be able to write the guide for OPNsense?

On 3/30/20 3:16 AM, Immánuel! wrote:

--
Joseph S. Testa II
Founder & Principal Security Consultant
Positron Security

[2020-04-01 02:57] immanuelfodor commented on #21
A separate repo, like one for Github Pages, as some other projects do?

Yes, of course, I initiated this change in OPNsense in the first place.

[2020-04-17 13:27] WSLUser opened #23 "Modernize python script to use currently supported imports"
This tool is designed to increase security but itself is insecure and uses unsupported imports.

The following changes need to be made to get it at the very least python 3.6 compatible:

Update get-opt to argparse (or choose something else like click but argparse is the easiest supported transition)

Remove future, base64 and others that are only needed below python3.6.

The following projects wil

[2020-04-17 13:35] WSLUser commented on #21
their own Github repo

You could just add a docs folder and publish using settings. You can still maintain your website but also allow contributions (kinda similar to MS Docs).

[2020-04-17 13:45] WSLUser opened #24 "Add ElementTree or CSV module for csv/xml reports"
I'd like to be able to get a csv or xml report of the audit. Json manipulation is great but it's easier to add better reporting options.

Related:
https://github.com/arthepsy/ssh-audit/issues/5

[2020-04-17 13:48] WSLUser opened #25 "Add odfpy for word document reports"
Similar to https://github.com/jtesta/ssh-audit/issues/24 but for word documents instead. Same output from the audits but generating different type of report able to be formatted in MS Word, LibreOffice, etc.

[2020-04-17 14:17] jtesta commented on #23
How, exactly?

It seems to already work on Python 3.6:

$ python3 --version
Python 3.6.5
$ ./ssh-audit.py www.positronsecurity.com
# general
(gen) banner: SSH-2.0-OpenSSH_7.2p2 Ubuntu-4ubuntu2.8
(gen) software: OpenSSH 7.2p2
(gen) compatibility: OpenSSH 6.5+, Dropbear SSH 2013.62+
(gen) compression: enabled (zlib@openssh.com)
[...]

If you could show steps on reproducing a problem, however, please

[2020-04-17 14:20] WSLUser opened #26 "Add support for OpenSSH8.1 and 8.2"
8.2 in particular adds support for FIDO sticks but there are a number of other improvements and changes that probably require more checks be added (including CVEs). https://www.openssh.com/releasenotes.html

I did see you started working a tiny bit on it in your dev branch so this issue should be a tracker for visibly showing support for these versions.

[2020-04-17 14:24] jtesta commented on #24
I'd be happy to merge code to add CSV and/or XML reports, but its not a
personal priority of mine to write that code.  I suppose your options
would be to submit a PR for it, or possibly sponsor a paid bounty for
someone in the community to add it.

Same goes for issue #25 regarding MS Word/LibreOffice exports.

--
Joseph S. Testa II
Founder & Principal Security Consultant
Positron Security

[2020-04-17 15:11] WSLUser commented on #23
It's more code-health for most of this. get-opt was superseded by optparse, which itself was superseded by argparse. This will help performance for one (optparse is a decent CPU consumer but get-opt is even older. I know from experience with another python script I run). I was more concerned about CentOS 6 than Ubuntu 16.04 but CentOS 6 is getting depreciated later this year. You can install pytho

[2020-04-17 15:15] WSLUser commented on #23
documentation that claims it is deprecated.

https://docs.python.org/3/howto/argparse.html

[2020-04-17 15:51] jtesta commented on #23
I prefer to use argparse for my own projects, actually.  But I inherited
ssh-audit as an existing project.  I don't mind making significant
changes to help readability & maintainability, but to be honest, there
are bigger fish to fry in this code base than migrating get-opt to argparse.

Migrating this isn't a priority of mine, but I'd be willing to merge a
patch.

Unless someone is in a very spec

[2020-04-17 17:18] jtesta commented on #26
In ssh-audit v2.2.0, I added support for these new host key types:
sk-ecdsa-sha2-nistp256-cert-v01@openssh.com,
sk-ecdsa-sha2-nistp256@openssh.com, sk-ssh-ed25519-cert-v01@openssh.com,
and sk-ssh-ed25519@openssh.com.

Are any other algorithms missing?

Also: what specific CVE checks are missing?

--
Joseph S. Testa II
Founder & Principal Security Consultant
Positron Security

[2020-04-22 18:27] jtesta commented on #26
I'm closing this since specific details aren't included.  If you can point to specific algorithms or CVE's, however, please re-open it.

[2020-04-22 18:27] #26 closed

[2020-04-22 18:29] jtesta commented on #23
Closing this since it doesn't clearly describe a specific issue.  Feel free to open another issue that concretely illustrates code-level problems.

[2020-04-22 18:29] #23 closed

[2020-04-22 20:48] jtesta commented on #8
Done!

My next goal is to get Debian, Ubuntu, and Kali to switch over to my fork.  I've reached out to the maintainers.  Hopefully it'll happen soon!

[2020-04-22 20:48] #8 closed

[2020-04-29 15:50] jtesta commented on #24
Unless you'll be submitting a PR for it, or sponsoring a bounty for it, I'm closing this issue since it doesn't make sense to track it.

[2020-04-29 15:50] #24 closed

[2020-04-29 15:50] jtesta commented on #25
Unless you'll be submitting a PR for it, or sponsoring a bounty for it, I'm closing this issue since it doesn't make sense to track it.

[2020-04-29 15:50] #25 closed

[2020-05-03 04:24] ckalinwi commented on #18
Nope!  I was right.  The code actually goes "too far".  It flags the entire ssh-rsa key type, not just the 1024 bit keys with SHA-1 hash:

`# host-key algorithms
(key) ssh-ed25519                           -- [info] available since OpenSSH 6.5
(key) ssh-rsa                               -- [fail] using weak hashing algorithm`

`# algorithm recommendations
(rec) -ssh-rsa

[2020-05-04 18:00] jtesta commented on #18
The fact that the SSH client (or local program like ssh-keygen) can
generate a SHA-256 hash over the public key for the user to see is fully
separate from the RSA signature on the SHA-1 hash done during the
connection setup process.

In other words, if a client selects the ssh-rsa type during a connection
setup, the server still generates a SHA-1 hash and signs it with RSA.
Separately, the client

[2020-05-05 03:08] ckalinwi commented on #18
Ah.  I apologize, I misread the CVE.   Thanks!

On Mon, May 4, 2020 at 1:00 PM Joe Testa <notifications@github.com> wrote:

[2020-05-05 03:10] jtesta commented on #18
No problem.  I'm at least glad people are paying attention!

On 5/4/20 11:08 PM, Christopher A Kalin wrote:

--
Joseph S. Testa II
Founder & Principal Security Consultant
Positron Security

[2020-05-06 19:55] #18 closed

[2020-05-10 08:10] erikvanoosten opened #27 "Installation instructions"
It would be great if there are installation instructions.

I discovered that on Mac with Homebrew you can do: ```brew install ssh-audit```

On Debian and Ubuntu you can do: ```apt install ssh-audit```

[2020-05-11 16:29] jtesta commented on #27
There are installation instructions in the dev branch already, actually:
https://github.com/jtesta/ssh-audit/tree/dev

I can add the notes for Homebrew, though.

And FYI, the Debian and Ubuntu packages are still using the original
code from arthepsy (at least for the time being).  Debian's unstable
branch just recently switched to my fork, so eventually end users will
have access to it.  Not sure

[2020-05-29 09:43] jugmac00 commented on #5
Currently, also `tox` is broken in every possible way :-)

I had a look at the `tox` config and tried to get `tox` passing. It isn't too bad - except for tons of linting errors (and one test I could not make passing).

Before I create a pull request, can you tell me
- what versions of Python do you plan to support?
- against which branch should I create the pull request? What is your development m

[2020-05-30 18:14] jtesta commented on #5
Glad to hear you're interested in fixing this!  Python 3.5 is the minimum version I'm supporting.

And yes, please submit to the `dev` branch.  Thanks!

[2020-05-31 10:04] genbtc commented on #27
Great news about debian.
Also you can get the updated version directly through pythons package manager with pip:
If this is the first time you've done so, You might need to install pip first:
`sudo apt-get install python3-pip`
Then:
`pip3 install ssh-audit`
And it will download it from pypi @ https://pypi.org/project/ssh-audit/ and install it.
This puts it into ~/.local/bin , and might print a mes

[2020-05-31 11:28] genbtc opened #28 "Script recommends impossible -ssh-rsa modification for Ubuntu 18.04 LTS. Debian 10 Buster works."
First of all I want to say I love your script.
On Ubuntu 18.04 LTS systems (+latest updates) = SSH-2.0-OpenSSH_7.6p1 Ubuntu-4ubuntu0.3 ,
with your latest ssh-audit (2.2.0) , there is some issue with -ssh-rsa, that isnt there on Debian.
I think it could be related to a bug in the OpenSSH version.
I can't follow the hardening guide directly to remove my RSA host key entirely, so I have just re-gener

[2020-05-31 16:52] jtesta commented on #28
Yep, that's known behavior for the OpenSSH version shipped with Ubuntu 18.04.  It wasn't until one of the later versions that they fixed it so that `ssh-rsa` can be disabled individually in the server config.

The good news is that the version shipped in Ubuntu 20.04 works as it should; you can individually disable `ssh-rsa` while leaving `rsa-sha2-256` and `rsa-sha2-512` enabled.

One option is t

[2020-05-31 17:01] jtesta commented on #22
Sorry for the late response.  I took a closer look at your configuration, and found the problem: the `HostKeyAlgorithms` directive only specifies `ssh-ed25519` and `ssh-ed25519-cert-v01@openssh.com`, but your `HostKey` directives don't add an ED25519 key.  Hence, your server doesn't have any host key to offer during the connection setup.

The solution is to add a `HostKey` directive with the path

[2020-05-31 17:01] #22 closed

[2020-05-31 17:13] jtesta commented on #21
I thought we could use the built-in wiki for the community-provided hardening guides: https://github.com/jtesta/ssh-audit/wiki/SSH-Hardening-Guides

I assume I'll get notified when an edit is made.  So when I notice a new guide has been written, I'll manually update the page at https://www.sshaudit.com/hardening_guides.html to include a link to the wiki.

Does that work?

[2020-05-31 17:27] immanuelfodor commented on #21
I've just created and edited some pages (skeleton), how does it look? Could you please rename them as you see fit? Then we'll use it as an example for further edits. Have the notifications arrived as you expected?

[2020-05-31 17:52] jtesta commented on #21
Unfortunately, I didn't get notified.  And worse, there doesn't seem to be a feature to enable them either!

I suppose I'll add a note that a new issue should be created when a new system has been added by the community.

Your test page looks good so far.  The only suggestion I have is to add a specific version number to its title.  That would help users find what applies to their system quickly.

[2020-05-31 21:56] jugmac00 opened #30 "Flake8 issues"
In #29 I disabled all Flake8 warnings for now - as there are just too many. The plan is to tackle them one by one once the test suite is passing again.

Also, in future `setup.py` and the tests should be linted.

While most of the issues are easy to fix, @jtesta maybe you want to have a look at the dictionary key 'ecdsa-sha2-1.3.132.0.10'  - which seems to be declared twice. This easy to avoid iss

[2020-06-01 04:58] jugmac00 opened #31 "Supported Python versions"
In #5 you mentioned:

What does this mean to Python 2.7?

- remove Python 2.7 from tox?
- remove Python 2.7 from travis?
- remove comp. code for Python 2.7?
ie
https://github.com/jtesta/ssh-audit/blob/bbc4ab542d6797eceeb80995ec7814d15f1dd9de/ssh-audit.py#L37-L51

_Originally posted by @jtesta in https://github.com/jtesta/ssh-audit/issues/5#issuecomment-636365917_

[2020-06-01 05:41] jugmac00 opened #32 "Support for type hints / annotations - currently 189 errors"
With #29 I got the mypy check at least running again, and it now shows:

    Found 189 errors in 1 file (checked 1 source file)

What is your take on typing?

Currently, tox runs the mypy checks, but I changed the tox setting so it does not fail the tox run.

Maybe this is something to look into once Python 2 is dropped completely and then one could use type annotations instead of type comments?

[2020-06-01 07:31] jugmac00 opened #33 "Test `test_ssh2_server_simple` is broken"
After fixing all the other tests and make tox run again, there is one failing test left, which unfortunately is not super easy to fix without further research (at least not for me).

I marked `test_ssh2_server_simple` to be skipped in test runs (temporarily), so at least, when working on new features, there is working test suite, now.

[2020-06-01 08:06] immanuelfodor commented on #21
I think I'm ready with the guide: https://github.com/jtesta/ssh-audit/wiki/OPNsense-20.1.2-and-newer Any feedback is welcome or feel free to tweak it further :)

[2020-06-01 20:11] pikrzysztof commented on #22
Oh, that's right, sorry for raising a bogus issue. Thank you for having a look at this.

[2020-06-02 01:28] genbtc commented on #28
Thank you for the quick response. Good thing you already know about this issue, I was not able to find exact info confirming or denying it myself, and I think it would help to make a short specific note of this somewhere, either in the script or on the hardening page with the Ubuntu instructions, as 18.04 LTS is still supported until 2023, and common for servers still, and so too is RSA. I will ha

[2020-06-02 19:17] jtesta commented on #21
I think users might appreciate if they were given a specific list of host key types, key exchanges, ciphers, and macs.

[2020-06-02 19:19] jtesta commented on #31
Python 2 is now unsupported.  Last I checked, it may still work, but it may stop working at any time without notice.

If you wanted to remove all Python 2 things, feel free!

[2020-06-03 12:17] jugmac00 opened #34 "Jenkins integration still wanted?"
Hi,

when upgrading the used `pytest` version, the following warning is issued:
[code]

Is it ok to drop the xml generation or do you use it?

It is triggered by
`test: pytest -v --junitxml={toxinidir}/reports/junit.{envname}.xml {posargs:test}`

=> I currently set `pytest` < 6.0

[2020-06-03 13:36] jugmac00 commented on #31
Python 2.6, 3.3 and 3.4 have been droppend in #29.

I kept Python 2.7 for now, dropping it means also changes to the source code, and the PR #29 is already quite big.

Dropping Python 2.7 is another PR.

[2020-06-06 14:36] immanuelfodor commented on #21
Good point! What do you think of this? https://github.com/jtesta/ssh-audit/wiki/OPNsense-20.1.2-and-newer#how-to-choose-algoritms It follows the currently recommended algorithms with comments that are specific to the current OPNsense way of things.

[2020-06-08 20:40] jtesta commented on #34
I don't particularly feel strongly about Jenkins integration, unless it would find issues we can't already.

But if you particularly felt compelled to get it working, feel free!

[2020-06-08 20:40] #34 closed

[2020-06-08 20:44] jtesta commented on #32
I'm a huge fan of strongly-typed languages.  Adding type hints to the code would be great!

Unfortunately, I don't think I could prioritize it for this project.  At least, I wouldn't have the time to do it myself.  If someone else wanted to take this up, however, I'd be happy to merge it!

[2020-06-08 20:45] jtesta commented on #31
My strategy was to just ignore Python 2 support and let it decay.  But if someone wanted to jump in and work to remove the old stuff, I'll certainly merge it.

[2020-06-08 20:46] jtesta commented on #28
Glad I could help!

[2020-06-08 20:46] #28 closed

[2020-06-08 20:47] jtesta commented on #27
Closing this, since the `dev` branch has updated instructions now.

[2020-06-08 20:47] #27 closed

[2020-06-08 20:49] jtesta commented on #14
I opened the project's wiki to allow community-submitted hardening guides.  Would you be interested in making a page for Debian 9?

See: https://github.com/jtesta/ssh-audit/wiki/SSH-Hardening-Guides-Index

[2020-06-08 20:50] jtesta commented on #21
Good!  I'll add a link to it from the official hardening page.

[2020-06-08 20:50] #21 closed

[2020-06-09 11:31] jugmac00 commented on #5
Thanks for merging the PR!

Could you please activate Travis for this repository, and also setup a weekly "Cron Job" for the `master` and the `dev` branches?
(Travis -> Repository -> More Options -> Settings -> Cron Jobs)

[2020-06-09 17:46] jugmac00 commented on #30
I fixed quite some Flake8 errors - I created PR #35 for all applied fixes.

If you want, you can merge the PR already - as it is self contained.

I left some Flake8 warnings on purpose, e.g. the indentation (mixed tabs and spaces) and over-/under-indented warnings...
Fixing those would literally mean changing every line, which I would not mind, but I wanted to ask before I do this.

Also, I did no

[2020-06-09 17:48] jugmac00 commented on #30
I also noticed, that the test files are not checked by Flake8 - this will be done as a next step.

[2020-06-10 00:42] jtesta commented on #5
Done!

[2020-06-10 00:42] #5 closed

[2020-06-10 00:46] jtesta commented on #14
Closing this for now.  If you want to write a guide for Debian 9/10 in the wiki, please do!

Re-open this issue when it's done so I can review it and link to it from ssh-audit.com.

[2020-06-10 00:46] #14 closed

[2020-06-10 01:26] jtesta commented on #30
I think it would be easier for me to fix the issues that affect every line (like space/tab indent mixing).  If you could provide the exact command used to find these, that would make it easier for me.  I'm not (yet) familiar with flake8 and other tools.

80 character line limitations are obsolete.  People have high-res screens with very long lines these days, so it's not an issue.  That, and split

[2020-06-12 14:50] sbnas-project opened #36 "error reading packet/ unpack requires a buffer of 4 bytes"
Hi J,

thank you for continuing with this project. It's a neat tool. I was able to run an older version no problem, with the latest version however I'm getting the following errors.

Error #1

![image](https://user-images.githubusercontent.com/30052093/84515454-7cfb3380-ac9a-11ea-90a6-ddc9a9ff08e3.png)

Error #2

[exception] error reading packet (timed out)

[2020-06-12 15:10] jtesta commented on #36
Thanks for letting me know about this!  What type of SSH server is it?  Is the target host publicly accessible?  If so, letting me debugging against the live system would be ideal.

Otherwise, could you please apply the following patch, then report back with the full output?:
[code]

[2020-06-12 15:14] sbnas-project commented on #36
it's Cisco SSH 1.25, unfortunately it's an internal system. and the old version i'm talking about is about 4 years old. so not sure if it will be entirely much help

[2020-06-12 15:24] jtesta commented on #36
Well, seeing the output after applying the above patch might be all I'd need to fix the problem.  Or, if it's more complicated, I might need access to the target server.  Perhaps I could log into a temporary VM with access to the server that I could debug on?

But let's try looking at the output of the patch, first.  It could be something simple.

[2020-06-12 15:42] sbnas-project commented on #36
I tried a few other releases, version 2.0.0 seems to work no problem. Every version after that seems to have the same error

[2020-06-13 01:09] jtesta commented on #30
I addressed most of the flake8 warnings in my latest commit to `dev`.  I'm very glad to be rid of tabs now!

The only two warnings we are ignoring now are for lines too long and the tables of dictionaries.  Both of those I think we can leave.

Thanks for driving this process forward!

[2020-06-13 01:09] #30 closed

[2020-06-13 14:18] jtesta commented on #36
Closing this since I can't debug it without either the output of the patch I provided, or access to the service that causes the crash.

If you're able to run my patch against the affected service and return the output, please re-open this issue.  I'd love to be able to fix it!

[2020-06-13 14:18] #36 closed

[2020-06-13 15:34] #31 closed

[2020-06-13 16:26] jtesta commented on #33
Fixed in `dev`.

[2020-06-13 16:26] #33 closed

[2020-06-15 20:38] jugmac00 commented on #32
This is the next one on my list.

[2020-06-15 21:06] jtesta commented on #32
Great!  I look forward to it!

[2020-06-15 21:09] jtesta commented on #10
I've begun a draft of this code.  (In case anyone else was considering starting this...)

[2020-06-25 12:33] jugmac00 commented on #32
Basic typing errors were fixed with #39.

Currently open to do:
- enable stricter mypy options one by one and fix the errors
- convert type comments to annotations

I had a deeper look at the latter one, and I am on a good track, but there are some caveats, as
- type annotations for variables were introduced with Python 3.6 (until then we have to use comments for variable annotation)
- type annota

[2020-06-25 19:56] jugmac00 opened #41 "RuntimeError when auditing SSH-Server"
[code]

This is reproducible for one of my old, inherited SSH Servers, but not for the new one, which I configured after your guide.

I can provide you the address in private if you need it to debug.

Anyway, the problem is pretty obvious, and the exception says it clearly. It is no good idea to change an Iterable while iterating over it.

The fix is trivial - just wrap `host_keys.keys()` from abo

[2020-06-25 20:47] jugmac00 opened #42 "Unused variables when unpacking"
I just saw the following code
[code]
In Python, for variables which value does not matter, usually you use an underscore.

So, above code could (and should) be rewritten into
[code]

cf
https://oliver.bestwalter.de/articles/something-i-really-must-underscore/#simply-it-needs-a-name-but-i-won-t-use-it

P.S.: I did not update the code as I am in midst of the typing issue. Maybe you want to label thi

[2020-06-26 21:54] jtesta commented on #41
Yes, please e-mail me the server's address and I can take a look at it (jtesta at-sign positronsecurity.com).  Thanks!

[2020-06-26 21:55] jtesta commented on #42
Done!

[2020-07-01 18:38] jtesta commented on #32
I enabled more mypy checks, which now all pass.  Is there anything else left to enable?  I think I got them all.

[2020-07-01 18:39] jtesta commented on #41
@jugmac00 I didn't hear back about this, so I thought I'd follow up.  I'm hoping to get a release done in the next couple weeks, so fixing this would be great if possible!

[2020-07-01 21:50] jugmac00 commented on #41
@jtesta Sorry for not getting back to you earlier and thanks for the ping!

With the typing issues I already had 2 open PRs which needed to be merged one after another, and I also wanted to wait until you fix the remaining typing issue, until I create another PR.

Too much branching and dependency on the order of merging makes it pretty fast complicated :-)

Also, although I watch this repository

[2020-07-01 21:54] jugmac00 commented on #32
Looks great!

As I mentioned, this was my first (bigger) project applying type hints in Python, so nothing else to add from my side.

I think this is a great addition. It is much easier to reason about the code, less chance for bugs, and really nice autocompletion support in my IDE!

[2020-07-03 18:57] jtesta commented on #32
Great!  I suppose I'll close this now that it's complete.  Thanks again for getting most of this done!

[2020-07-03 18:57] #32 closed

[2020-07-11 16:21] noraj opened #46 "setup.py"
[code]

There is no `sshaudit.py` in `pypi/sshaudit/`, I suspect you are using a symbolic link locally.
Also it's not the right filename (dash missing). Same for the README.

So the workaround was:

[code]

[2020-07-11 16:45] jtesta commented on #46
In the dev branch, see the packages/notes.txt file for instructions on
how to build a package.  I just checked in some minor changes so it'll
work on a development build.

Out of curiosity, why are you trying to build a PyPI package yourself?

[2020-07-11 17:22] jugmac00 commented on #46
Hi @jtesta

this is a topic, I planned to talk about for quite a time, but I was quite busy recently.

Actually, the `setup.py` is not only for creating a package for PyPi, but also for installing it locally and some more things.

To be honest, this package here is the very first Python repository I ever encountered, where the `setup.py` is not in the project's root folder.

This is nothing especi

[2020-07-11 17:34] jtesta commented on #46
When I created this fork, there was no setup.py.  I created it myself
when I needed to make a PyPI package.  I remember running into errors
that didn't make sense, so I just tried random things until I stumbled
on something that worked.  At that point, I crossed this off my list and
moved on to other things.  So that explains why things are so...
non-standard.

I'm certainly open to fixing things

[2020-07-11 17:43] noraj commented on #46
1. The generic answer is: security. It's always better to build from source oneself than trusting pre-built binaries.
2. On my specific case it's because I'm [BlackArch](https://blackarch.org/) dev and I upgraded the ssh-audit package from the original repo to your fork. See https://github.com/BlackArch/blackarch/pull/2803/files

[2020-07-11 18:00] jtesta commented on #46
I'd strongly disagree.

Many, many moons ago, I ran the Beyond Linux From Scratch "distro" on my
main machine (if you're not familiar, it's nothing more than a large set
of instructions to compile *everything* yourself from scratch!)  After a
couple weeks, my machine was riddled with security holes.  It quickly
became impossible for me to keep up on re-compiling all the embedded
libraries that had

[2020-07-12 06:03] jugmac00 commented on #46
I suggest the following changes:
- move `setup.py` to root directory
- move `MANIFEST.in` to root directory
- ... ie. move all files of `packages` folder to the root
(if you think there are too many files in the root then... usually you put your source code into a `src` folder, like here https://github.com/jugmac00/flask-reuploaded - I would not do this all at once.. maybe at a later time, as this

[2020-07-13 15:14] jtesta commented on #46
Yep, all that sounds good.  After the upcoming v2.3.0 release is done, we can get started on that (I'm hoping it'll be done by the end of this week).  The only other thing I'd like to note is that ssh-audit.py should remain as a stub which imports all the code from ssh_audit.py.  That way users can still run the program like they did before without installing it ("./ssh-audit.py target").

Since t

[2020-07-13 15:16] jtesta opened #47 "Split ssh-audit.py into multiple files"
`ssh-audit.py` is now over 3,500 lines long.  It's time to split it into multiple files to make development and maintenance easier.

[2020-07-13 15:17] jtesta commented on #41
Did merged PR #44 fix this issue?

[2020-07-13 15:28] jugmac00 commented on #41
Yes!

[code]

I am not used to these long running dev branches, so I was not sure whether this issue should be closed or not, as it is not fixed on master, yet.

[2020-07-13 15:40] jtesta commented on #41
Glad it's fixed!

The reason I keep a long-term dev branch is because I know users are lazy and they check out the master branch by default.  So I keep master == latest stable release, and put all pre-release code into dev.  That way, users get the latest release by default, instead of potentially broken alpha/beta code by default.

I've been closing issues when they're fixed in dev, since until r

[2020-07-13 18:34] jugmac00 commented on #46
I bet you know, but `ssh-audit` will be still available after installation.

Also, there is a nifty trick I saw at another cli app. You can create a bash wrapper for the Python script, so you can run `./app` without installing it and still use a `src` directory which... see next paragraph :-)
https://github.com/mgedmin/check-python-versions/blob/master/check-python-versions

(But let's do not hide

[2020-07-13 20:21] jugmac00 commented on #41
Thanks for the explanation!

At the other projects I contribute, master is not a place for broken software either, as usually there is a strong test suite and merges are only allowed after a pull request review. Certainly, more maintainers are needed for such a setup to work out.

[2020-07-13 20:21] #41 closed

[2020-07-13 22:41] jtesta commented on #15
@NinjaDrac2791 I just checked this feature into the `dev` branch.  You can specify a list of targets in a file with `-T`.

[2020-07-18 11:13] moreati opened #49 "RuntimeError: dictionary keys changed during iteration (with --json, and Python 3.8)"
Running with `-j` or `--json` with Python 3.8.x cause the following error

[code]

The code in question is

https://github.com/jtesta/ssh-audit/blob/e447c42a79df49841d5269eacde6dbeb811a6be4/ssh-audit.py#L3245-L3249

The fix for the immediate is straightforward, replace `host_keys.keys()` with `list(host_keys.keys())` so the loop iterates over a copy.

However, I'm concerned about the rest of the l

[2020-07-18 12:21] moreati commented on #49
Based on some adhoc trials, OpenSSH 7.9p1 accepts multiple `HostKey` lines referring to rsa keys, but it only uses the first one that is mentioned, e.g.

[code]
then swap the lines, restart sshd, and scan again

[code]

That would suggest the for loop is good enough as is.

[2020-07-18 13:30] jugmac00 commented on #49
Hi @moreati

thanks for your bug report.

This has been already reported in #41 and fixed in #44.

Unlike most other open source projects, here a long running dev branch is used for the time between releaeses.

I still think it would be a great idea to merge every accepted and well tested pull request to master.

[2020-07-18 13:43] moreati commented on #49
Do you have any thoughts on the other possible bug? That if an SSH server offered multiple RSA keys, ssh-audit would pick one at random.

[2020-07-18 14:42] jugmac00 commented on #49
Well, while I contributed some bug fixes, fixed the test runner, fixed most type annotations..., in my "real" life I am a professional Python programmer in a complete other domain. I just found this project when I had to setup some Ubuntu boxes and I wanted to harden the SSH access. Actually, I started contributing not only because I love open source and I love to give something back, I also try t

[2020-07-20 15:08] jugmac00 opened #51 "client audit vs client hardening guide"
Hi @jtesta

I just discovered the client hardening mode.

I run Ubuntu 18.04 on my laptop.

I applied the changes from your hardening guide

https://www.ssh-audit.com/hardening_guides.html#ubuntu_18_04_linux_mint_19

and then I started the client audit via `python3.8 ssh-audit.py -c` and then on a second terminal, I sshed into localhost port 2222.

**Expected**
I expected all output to be green.

[2020-07-22 14:00] jtesta commented on #51
Well, there's my blog post on this topic: https://www.positronsecurity.com/blog/2020-01-07-ssh-client-auditing-and-hardening/

I suppose I don't understand what the problem is.  Did my hardening guide not result in all green output?

[2020-07-22 14:22] jugmac00 commented on #51
Yes, that is the problem.

I followed your instruction by echoing your recommendations into my `~/.ssh/config` file.
![Screenshot from 2020-07-22 16-14-50](https://user-images.githubusercontent.com/9895620/88187174-7d420380-cc36-11ea-915b-34147249e7ab.png)

Then I started the client audit mode.. (Python 3.8 - and latest commit from your dev branch)
![Screenshot from 2020-07-22 16-15-21](https://us

[2020-07-22 14:27] jugmac00 commented on #51
Ok. I figured it out.

The cipher (et al) config has to be put on the top of the ssh-config file - otherwise it seems it gets ignored.

This is the reason I tried to find information about how the structure of a client config file has to look.

Damn you SSH for not throwing an error :-)

Maybe it is possible that you update your hardening guides?

I guess I am not the only one with some basic ssh

[2020-07-22 14:37] jugmac00 commented on #51
I guess I figured it out.

In `man 5 ssh_config` you can read

Yep. So I configured some hosts - then I echoed your configurations into my config file and thus the hardening infos only apply to my last configured host oO

[2020-07-22 14:49] jtesta commented on #51
Oh ok.  Yes, I suppose I do need to update the guides so they put the
options at the top of the config file.

[2020-07-29 22:12] thecliguy opened #52 "Algorithm Lookup"
Firstly, thank you for taking over the maintenance of a very useful tool.

Professionally my work involves a lot of automation which frequently involves the use of SSH and SFTP client tools and libraries. From time-to-time it's necessary to audit these tools and libraries to check whether they're using any weak or deprecated algorithms to ensure we're not connecting to remote servers or sending fi

[2020-07-30 01:22] jtesta commented on #52
Sure, I'd be happy to add this feature.

I think to simplify things for the end user, the arguments can be condensed down to simply `--lookup=<alg>`.  The tool can then search through its four algorithm categories and look for a match.

Would you want JSON output to make this easier to parse in a script?  In that case, we can add this functionality when the user pairs `--lookup` with `-j`/`--json`

[2020-07-30 22:28] thecliguy commented on #52
Thanks for the swift response.

I couldn't think of a suitable short argument to accompany `--lookup` so I've not implemented one.

I spent some time looking at whether I could support JSON output but I came to the conclusion that there was too much refactoring of `build_struct` required, so I have omitted this.

I've submitted a [PR](https://github.com/jtesta/ssh-audit/pull/53), please can you re

[2020-07-31 13:32] jtesta opened #54 "Make CONTRIBUTING.md"
We need a CONTRIBUTING.md file to tell new developers about our tox tests, docker tests, unit tests, and documentation (these would be nice for them to update as necessary, but not strictly required).

[2020-08-04 13:58] Firm opened #55 "Confusion: ecdsa-sha2-nistpXXX family is claimed as weak"
ecdsa-sha2-nistp256,ecdsa-sha2-nistp384,ecdsa-sha2-nistp521 are claimed as 'weak' when enabled in HostKeyAlgorithms. But OpenSSH directs to use them as one of possible algorithms (see: https://www.openssh.com/txt/release-8.2):

The better alternatives include:

 * The RFC8332 RSA SHA-2 signature algorithms rsa-sha2-256/512. These
   algorithms have the advantage of using the same key type as
   "s

[2020-08-05 07:32] Izorkin opened #56 "client-audit: error reading packet"
Not working function - cleint-audit. Error:
[code]
Check with python 3.7 and python 3.8.

[2020-08-05 08:59] jugmac00 commented on #56
FWIW - I cannot reproduce this error with the current packaged version 2.2.0 on Ubuntu 18.04.

[code]

I am curious what @jtesta thinks about this problem.

Disclaimer: I am no maintainer, just a user.

[2020-08-05 09:09] Izorkin commented on #56
Possible error due to OpenSSH version?
Used 8.2.

[2020-08-08 14:25] sleepnmojo commented on #51
The guide just needs to add "Host *\n" before "Ciphers".  The current guide just adds the values to the last host.

If you put it at the top of the file, that will become the default for all hosts. If you need to override any of the values, then those hosts would need to go above the defaults.

[2020-08-10 20:42] jtesta commented on #55
Sorry for the late response.

The idea that the NIST curves are weak and possibly back-doored is not agreed upon by the crypto community.  Some (including myself) think that there's enough evidence that they should be avoided.  Thankfully, there are better alternatives such as Curve25519.

[2020-08-10 20:42] #55 closed

[2020-08-10 21:02] jtesta commented on #56
I can't reproduce this error with the `dev` branch:
[code]

Are you using the `master` branch?  Or a release?

[2020-08-11 05:58] Izorkin commented on #56
Yes, error reproduced with the `dev` branch:
[code]
[code]

[2020-08-11 17:47] Izorkin commented on #56
Sorry I did not test correctly.
To check, need run the command `ssh 127.0.0.1 -p 2222`, not this command `ssh-audit 127.0.0.1 --port 2222`

[2020-08-11 17:47] #56 closed

[2020-08-11 19:22] jugmac00 commented on #56
Both `-p` and `--port` should be equivalent.

Also, now I can reproduce the failure.

[code]

Please reopen the issue.

[2020-08-11 23:34] jtesta commented on #52
@cliguy: Sorry for the late response on this; I got side-tracked in life for a bit.

I've merged your PR, and also made a few other minor changes in [c7ad1828d85147a6528e831b1bcf3e377a315051](https://github.com/jtesta/ssh-audit/commit/c7ad1828d85147a6528e831b1bcf3e377a315051).

Thanks for contributing!

[2020-08-11 23:34] #52 closed

[2020-08-12 00:16] jtesta commented on #56
I did notice that you were running ssh-audit against itself as a server and a client.

The reason neither side successfully completes is that both the client & server exchange banners, then wait for the other side to send the list of supported algorithms.  Since each side waits for the other, nothing ever happens.  So either the server's timeout is reached, or the client's is.  When a timeout of 3

[2020-08-12 01:14] jtesta commented on #49
@moreati Sorry for the very late response.  I got side-tracked in life a bit.

The way I've seen servers implement multiple RSA host key types is that there is only _one_ RSA key, but encoded and hashed in different ways.  So for example, if a server supports `ssh-rsa`, `rsa-sha2-256`, and `rsa-sha2-512`, they are all derived from the same raw key material, but are hashed with SHA-1, SHA-256, and

[2020-08-12 05:13] jugmac00 commented on #56
Thanks! Works now. And uhh. I ran ssh-audit against itself by accident.

[2020-08-14 19:27] thecliguy opened #57 "GSSAPI Key Exchange (gssapi-keyex) Algorithms"
I've no particular interest in using GSSAPI key exchange algorithms and can't claim to understand how they work, my question simply concerns whether `ssh-audit` should be capable of detecting these algorithms if present...

I've been working with [Bitvise SSH Server](https://www.bitvise.com/ssh-server) version 8.43 and noticed that there are six `gss-*` Key Exchange Algorithms (four of which are e

[2020-08-14 20:32] moreati commented on #49
Well enough. I'd more-or-less concluded that multiple RSA keys might be possible according to the protocol, but rarely (if ever) seen in the wild

No, thank you.

[2020-08-15 01:25] MestreLion commented on #51
@sleepnmojo : so you suggest that the best solution is to add `Host *\n` at the beginning of the block but keep the block itself at the end of the file?

[2020-08-15 02:03] sleepnmojo commented on #51
@MestreLion correct

People would need to understand if they put `Ciphers`, `KexAlgorithms`, `MACs`, or `HostKeyAlgorithms` in any Host above, then that value will be used for that Host. This is true for the topmost `Host *` as well.

Example:
[code]

[2020-08-15 11:04] MestreLion commented on #51
Ok, just did this (using the `Host *` trick), and the local audit (installing from `pip`) gives me all green.

**But**... https://www.sshaudit.com/ Client Audit gives me C- 70/100. Looking at the results, i see this in "Host Key Types": `ssh-rsa-cert-v01@openssh.com SHA-1 has exploitable weaknesses. Score capped at 70`.

Problem is: `rsa-cert-v01@openssh.com` **is** indeed included in `HostKeyAlgo

[2020-08-17 13:15] mphilipps commented on #36
Just had the same issue (with slightly different line numbers, but same functions). Unfortunately I can't reproduce it. From the logs it looks like the issues occurs once every 10000 calls? Usually I would blame the network, but this all local. From the machine to the machine.

[2020-08-18 13:07] jtesta commented on #36
Were you using a stable release or master branch?  Or did this happen
while using the dev branch?

What SSH server and version did you encounter this with?

On 8/17/20 9:16 AM, mphilipps wrote:

--
Joseph S. Testa II
Founder & Principal Security Consultant
Positron Security

[2020-08-18 13:13] mphilipps commented on #36
It call's it self version v2.1.1 (sha256sum cd3310c81475f7392ebd9a4f519252f20c7cc899bfd6a24c28d6e535ee670e19)

ssh server is openssh-server 1:7.9p1-10+deb10u2 from debian buster.

I have since now found out that the wrapper around it was calling it twice, so it might be closer to once every 20000 calls.

I have now reduced the frequency at which the script gets called, no reason the check every 5

[2020-08-19 20:32] #49 closed

[2020-09-02 20:18] thecliguy opened #59 "v2.3.0 Milestones"
@jtesta Hi Joe,

At the end of July you mentioned that you were hoping to release v2.3.0.

Are there some specific issues that you want to close before releasing v2.3.0? If so, perhaps they could be tagged as [milestones](https://github.com/jtesta/ssh-audit/milestones).

[2020-09-03 06:28] jugmac00 commented on #59
@jtesta If you ever need a helping hand with making a new release, please reach out to me.

[2020-09-14 20:56] WSLUser opened #60 "GH Action: Add Super-Linter"
Add the recently released Github Super Linter https://github.com/github/super-linter for python as a GH action (it's in the GH Action Marketplace).

From their README:

**Proposed technical implementation details (optional)**
Just add the action and choose the linters for usage. For this project that should include pylint and mypy. You could optionally add others but those two provide the most cov

[2020-09-17 09:04] luke-goddard opened #61 "JSON Deleting keys while iterating over keys does not work in python3"
python3 ssh-audit.py --json -p 22 127.0.0.1
Traceback (most recent call last):
  File "/home/luke/documents/python/ape-web/Tools/ssh/ssh-audit/ssh-audit.py", line 3350, in <module>
    main()
  File "/home/luke/documents/python/ape-web/Tools/ssh/ssh-audit/ssh-audit.py", line 3347, in main
    audit(conf)
  File "/home/luke/documents/python/ape-web/Tools/ssh/ssh-audit/ssh-audit.py", line 3337, in a

[2020-09-17 09:29] jugmac00 commented on #61
As mentionted in #62 - this has been fixed already in the dev branch.

[2020-09-17 09:37] luke-goddard commented on #61
Sorry, for the inconvenience

[2020-09-17 09:37] #61 closed

[2020-09-17 09:55] jugmac00 commented on #61
No need to feel sorry. In the contrary, this long living dev branch is quite uncommon and surprising. Maybe @jtesta can be convinced to develop on master after the next release, which does not mean "unreliable" or similar. It would mean to develop new features in branches, and then merge as soon as they are stable enough.

[2020-09-17 10:20] luke-goddard commented on #61
Might be useful to add a contributions readme so you don't get a 4th pull request :+1:

[2020-09-17 10:22] jugmac00 commented on #61
https://github.com/jtesta/ssh-audit/issues/54 :-)

[2020-09-26 23:43] jtesta commented on #57
Sorry for the late response!

Yes, although it depends on the server configuration.  For example, OpenSSH will advertise the `ssh-ed25519` host key type, but not `ssh-ed25519-cert-v01@openssh.com` unless the server is configured with a certificate of this type.  So ssh-audit will only see `ssh-ed25519`.  Likewise, the GSSAPI key exchanges are only advertised if the server was configured to use, sa

[2020-09-26 23:43] #57 closed

[2020-09-26 23:50] jtesta commented on #59
@cliguy @jugmac00  Sorry for the very late response.  Work and personal things got in the way of my ability to finish the v2.3.0 release.  Things are still busy, but I'm able to resume on it now.

On my to-do list is:
1. More testing of the new policy checking code (in the `dev` branch).
1. More testing of the policy checking integration for the web application at https://www.ssh-audit.com/
1. Wri

[2020-09-27 00:11] jtesta commented on #60
Thanks for the suggestion.  The project is already using pylint and mypy in the `dev` branch, which will be released as v2.3.0 "soon".  Once that happens, I can take a look at this Super Linter and see if it makes things easier.

[2020-09-27 00:18] mpolanski commented on #59
It might be easier for you to use [scdoc](https://git.sr.ht/~sircmpwn/scdoc) for writing man pages. It's a little POSIX-compatible tool with a nice syntax. This way `ssh-audit.1` will be readable also in source form.

[2020-09-27 00:23] jtesta commented on #59
@mpolanski Thanks for the suggestion!  I didn't know about scdoc until now.  Perhaps after the stable release, I'll look into switching over.

[2020-09-27 02:08] jtesta commented on #54
Done.

[2020-09-27 02:08] #54 closed

[2020-09-27 16:21] thecliguy commented on #59
@jtesta Hi, I've done some testing of the `-L`, `-M` and `-P` options today.

Everything worked well for me and I really like this new functionality.

My only suggestions are:
  * The output produced by `-P` could be prettier.
  * It would be nice if `-P` could be used in conjunction with `-v`/`--verbose` to show successes.

Here's an example of how I imagine this:

[code]

[2020-09-27 16:53] jtesta commented on #59
@thecliguy Thanks for testing!  And I like your suggestions too.

Right now I'm aiming to package the v2.3.0 release in the next few hours since this is the only window of time I have for the next two weeks.  This release is way overdue.  I'd much rather get this out the door, then update the output in a quick v2.3.1 revision release.

I don't think updating the output later will break anything fo

[2020-09-27 16:56] thecliguy commented on #59
@jtesta I completely agree with you, that makes sense to me.

Looking forward to version 2.3.0 :+1:

[2020-09-27 17:10] jtesta opened #63 "Make Policy Output Prettier"
As @thecliguy detailed [in this response](https://github.com/jtesta/ssh-audit/issues/59#issuecomment-699655823), the policy output should be improved.

[2020-09-28 00:03] jtesta commented on #10
Implemented in v2.3.0.

[2020-09-28 00:03] #10 closed

[2020-09-28 00:03] jtesta commented on #11
Implemented in v2.3.0.

[2020-09-28 00:03] #11 closed

[2020-09-28 00:07] jtesta commented on #59
@mpolanski If you have free cycles to migrate the man page to scdoc, that would be very much appreciated!  Otherwise, I'm not sure I'll be able to get to it any time soon...

[2020-09-28 00:12] jtesta commented on #59
@jugmac00 @thecliguy v2.3.0 has been released at last!

I look forward to moving on to re-organizing the project to a more standard layout.  Specifically, including a `setup.py` script (#46) and splitting the 3,900-line `ssh-audit.py` into separate files (#47).

I'll also check stable changes into the `master` branch, instead of keeping a long-lived `dev` branch going.

[2020-09-28 00:12] #59 closed

[2020-09-28 17:12] thecliguy opened #64 "Contributing - Which Branch to Use?"
The [CONTRIBUTING](https://github.com/jtesta/ssh-audit/blob/master/CONTRIBUTING.md) guide says to submit pull requests to the `dev` branch - but there doesn't seem to be a `dev` branch anymore.

So do we develop against `master` now?

[2020-09-28 17:52] jtesta commented on #64
Yes.  We will develop against master now.

I just updated CONTRIBUTING.md to remove the reference to the deleted
dev branch.

Thanks!

On 9/28/20 1:12 PM, thecliguy wrote:

--
Joseph S. Testa II
Founder & Principal Security Consultant
Positron Security

[2020-09-28 18:12] #64 closed

[2020-09-28 22:25] thecliguy opened #65 "Encryption Algorithm des-cbc@ssh.com"
I'm using `ssh-audit --lookup=` to look up information on all the supported algorithms _(encryption ciphers, key exchange, host key and MAC)_ in [WinSCP](https://winscp.net) 5.17.7.

A list of WinSCP's supported algorithms can be produced using the command:
`"C:\Program Files (x86)\WinSCP\WinSCP.com" /info`.

There is one algorithm supported by WinSCP that's not present in the ssh-audit database w

[2020-09-28 22:37] jtesta commented on #65
Yep, that would be fine.  If you look around, you'll notice other
algorithms already in the database like that.  i.e.: 'alg', and also
'alg@something'.

On 9/28/20 6:25 PM, thecliguy wrote:

--
Joseph S. Testa II
Founder & Principal Security Consultant
Positron Security

[2020-09-28 22:46] thecliguy commented on #65
Thanks you, much appreciated.

Here's a long term thought, please tell me what you think...

Rather than adding multiple instances of the same algorithm with different names, is it worth adding an `alias` field to the `ALGORITHMS` structure?

[2020-09-28 23:21] jtesta commented on #65
I'm not so much of a fan of making that horrible structure even more
complicated.  And in this case, it would only save us... a few bytes.

On 9/28/20 6:47 PM, thecliguy wrote:

--
Joseph S. Testa II
Founder & Principal Security Consultant
Positron Security

[2020-09-29 05:23] jugmac00 commented on #60
And also Flake8.

Also, currently the project is using `Travis` instead of ` gh actions` for CI.

Currently, I see no gain in using the `super-linter`.

[2020-09-29 05:47] jugmac00 opened #66 "Docker Testing Image Creation Failure on Ubuntu 18 & 20"
Without having a deeper look what the Docker tests actually do, I ran the script while on the current master.

I am on Ubuntu 18.04, but I'd assume the Docker tests should(?) be independent of the host.

[code]

[2020-09-29 05:51] jugmac00 commented on #54
Thanks a lot!

[2020-09-29 08:26] graysky2 opened #67 "Correct installation method"
What is the correct method to package this without using `pip3`?
Manual installation?  Where should policies go?  Is `tox.ini` needed?  Other files needed?  Down the road, a `Makefile` would be nice or a setup script of some kind.

[code]

[2020-09-29 12:10] WSLUser commented on #60
You can use both though Travis should be replaced by CircleCI, which supercedes it.

[2020-09-29 12:53] jtesta commented on #67
Yes, unfortunately there is no way to install the project locally in a clean manner at this time (I inherited maintenance from the original author, and I'm still working on it).  This is being tracked in issue #46 (which may be dependent on #47).  I'll be fixing these as soon as I can.

They should be in a folder named "policies" relative to where ssh-audit.py is.  In other words, if you have /fol

[2020-09-29 12:53] #67 closed

[2020-09-29 13:01] jtesta commented on #60
I'm happy to use the best tool for the job.

@WSLUser What advantage does CircleCI have over Travis?  More specifically: how can this specific project benefit from switching over?  You'd have to make a case for why we should switch.

[2020-09-29 13:10] jtesta commented on #66
The SSH servers get compiled on the host, then a Docker image is created around them.

Did you manually install another version of OpenSSL?

To debug this, try downloading OpenSSH v4.0 from the archives (https://cdn.openbsd.org/pub/OpenBSD/OpenSSH/portable/openssh-4.0p1.tar.gz / https://cdn.openbsd.org/pub/OpenBSD/OpenSSH/portable/openssh-4.0p1.tar.gz.sig), then simply do a "./configure && make -j

[2020-09-29 13:29] jugmac00 commented on #66
I am pretty sure I did not touch my local OpenSSL version.

When downloading the mentioned package and trying to compile it, I get the same error message:

[code]

Both version numbers from above (header and library) look exactly the same.

I only have one Ubuntu box with 18.04 available (my dev machine) - so I cannot rule out that this is a local problem.

While there are tons of StackOverFlow qu

[2020-09-29 13:29] graysky2 commented on #67
@jtesta - Thanks, Joe.  I'll just package to `/opt/ssh-audit` for Arch Linux, see: https://aur.archlinux.org/cgit/aur.git/tree/PKGBUILD?h=ssh-audit

[2020-09-29 14:26] WSLUser commented on #60
For now, I am only focusing on this issue. I'm perfectly willing to add the super-linter to the project myself. I am waiting for acceptance in another project first to see if I need to do anything further with it. I remember seeing some blog posts about CircleCI but I've not kept up with it. I have seen a number of large projects adopt it though.

[2020-09-29 14:52] jtesta commented on #66
This is a problem with docker_test.sh, not your system.

The issue is that the development libraries for OpenSSL v1.0.x are necessary to build the older versions of OpenSSH and Dropbear.  It's possible to install them on Ubuntu 18 with `apt install libssl1.0-dev`, but your OpenSSL v1.1.1 headers would get automatically removed since they can't co-exist.  But even if you're ok with that, I ran into

[2020-09-29 15:19] jtesta commented on #60
I appreciate the interest in helping, but the blocking factor is that neither the Super-Linter nor CircleCI would solve any real problem that we have.  At least... not that I can see at this point.  But if you can show specific improvements they'd grant us, I'd be interested in using them.

If you'd like to contribute to the project in other ways, though, we could use help with issues #42, #63, #6

[2020-09-29 18:30] thecliguy commented on #65
OK, that's fair enough. Do you need a PR for this or will you add `des-cbc@ssh.com` the next time you commit to master?

[2020-09-29 19:07] jtesta commented on #65
Done!  I wasn't going to rush in and steal it from you, but since you asked... ;)

[2020-09-29 19:07] #65 closed

[2020-09-30 12:39] jugmac00 opened #70 "questionable benefit of `deepsource`"
Of the 669 reported issues ( https://deepsource.io/gh/jtesta/ssh-audit/run/98d70105-a8f9-4aa6-8e98-1d1a401ee421/python/ ) at very least 658 are false positives, as the assert statements are used in tests, and the "unused arguments in functions" are standard pytest fixtures.

The remaining 11 "problems" are also reported by flake8 or pylint.

So I suggest to remove the `deepsource.io` integration -

[2020-09-30 18:17] mpolanski commented on #67
In Alpine Linux I patched the code so the policy configurations reside in `/usr/share/ssh-audit/policies`: https://git.alpinelinux.org/aports/commit/?id=91a424eb0ea2098ac6e7a3de83c6c9d91622ef26

[2020-09-30 18:29] graysky2 commented on #67
@mpolanski - Send a PR to @jtesta

[2020-09-30 18:34] jtesta commented on #67
@mpolanski @graysky I'm actually considering getting rid of the built-in
policy files entirely in favor of including the data in a Python struct.
  This would make life easier for package maintainers (of which I am one
too: for PyPI, Snap, and Windows).  And re-organizing the project (#46 &
#47) would fix the rest of the issues we all have.  I hope to have that
done within the next month.

On 9/30

[2020-09-30 18:43] mpolanski commented on #67
@graysky2 My patch would break using policy files when ssh-audit is not system-wide installed, so I only patched it for Alpine.

[2020-10-01 23:47] jtesta commented on #66
I updated `docker_test.sh` so that it now pulls & uses the image I built from Dockerhub.  It should work for you now.

Now I'm the only person who has to deal with build issues.  ;)

[2020-10-01 23:47] #66 closed

[2020-10-01 23:48] #42 closed

[2020-10-01 23:56] jtesta opened #72 "Restore Appveyor Testing Under Windows"
The project used to have testing done under Windows on [Appveyor](https://www.appveyor.com/docs/windows-images-software/) (see `.appveyor.yml` config file).

It is currently disabled, however.  It would be nice to get this functional again, as Windows builds are officially supported.

Alternatively, Travis is in the process of building support for Windows tests, though as of this writing, it is ve

[2020-10-01 23:59] jtesta commented on #70
Yeah, I would agree.  I thought I'd experiment with it back when it was in my `dev` branch.  But now it looks like it's more trouble than it's worth.

[2020-10-02 00:05] #70 closed

[2020-10-02 00:08] #60 closed

[2020-10-02 06:05] jugmac00 commented on #66
Works like a charm now. Thanks!

[2020-10-03 13:14] thecliguy opened #73 "Case Insensitive Look Up"
I think that the `--lookup` parameter should perform a case insensitive comparison.

Currently, this works:

[code]

...But this doesn't:
[code]

@jtesta Do you have any objection to this change? I'm happy to work on it and to submit a PR.

[2020-10-03 17:56] shipwreckproto opened #74 "Comparison server version vs. last_vuln_version not working correctly"
I have OpenSSH server version 7.2p2 installed, but ssh-audit.py says I'm vulnerable to CVE-2016-3115 which are vulnerabilities before 7.2p2

[code]

[code]

[code]

[2020-10-04 21:31] shipwreckproto commented on #74
I investigated a bit and the bug seems to be in the function _compare_version_ after product evaluation for OpenSSH _elif self.product == SSH.Product.OpenSSH:_

[code]

They seem not to catch the patch number, but everything **after** the first digit of the patch number.

[2020-10-04 21:39] shipwreckproto commented on #74
Not sure if this is the best fix, but if I replace with those 2 lines, it works correctly:

[code]

[2020-10-04 22:58] shipwreckproto commented on #74
This doesn't fix everything: somewhere needs to be done a conversion from str to int, otherwise patches greater or equal to 10 are considered being a patch before patch 9 because of alphabetical search. And a conversion from empty string to zero?

A quick fix would be:
[code]

immediately before the last lines in the function:
[code]

[2020-10-06 21:35] jtesta commented on #73
According to OpenSSH's source code, algorithm names are case-sensitive (see https://github.com/openssh/openssh-portable/blob/396d32f3a1a16e54df2a76b2a9b237868580dcbe/match.c#L292).  So `alg1` and `ALG1` are distinct.

However, if the user asks for something we don't know about, we can output something like `alg1 was not found, but the following similar algorithms are known: ALG1, ALG2.`

[2020-10-08 23:38] thecliguy commented on #73
@jtesta You're right, the [SSH Protocol Architecture RFC](https://tools.ietf.org/html/rfc4251) seems to concur with this.

Excerpt from section 6, page 10:
[code]

I will look into your idea of outputting something like `alg1 was not found, but the following similar algorithms are known: ALG1, ALG2.`

[2020-10-11 18:03] #46 closed

[2020-10-11 18:56] jtesta opened #75 "Move built-in policies from files to internal database"
Currently, the built-in policies exist in external files.  To make packaging much easier in Windows and Snap, and to improve ease of use, they should be migrated to an internal database.

The following example shows how built-in policies would be invoked using their names:
[code]

Note that the documentation tells the user to use the build-in policy files as an example when crafting custom policie

[2020-10-11 19:03] jtesta opened #76 "Create Docker image for Docker Hub"
People seem to like being able to pull images from Docker Hub with tools ready to go.

[2020-10-15 18:40] jtesta commented on #47
Done!

[2020-10-15 18:40] #47 closed

[2020-10-15 18:44] jtesta opened #77 "Add Python 3.9 to Travis & Tox"
According to [Travis's docs](https://docs.travis-ci.com/user/languages/python/#python-versions), it does not yet support testing with the official Python 3.9 release (it only supports "3.9-dev" right now).

This is a note to check the docs again in November and see if official 3.9 support has been added.

[2020-10-19 21:56] jtesta commented on #75
Done!

[2020-10-19 21:56] #75 closed

[2020-10-19 22:08] jtesta commented on #77
Testing with 3.9-dev has been added in the meantime, since some package maintainers use 3.9 as a dependency.

[2020-10-19 22:54] jtesta commented on #74
Thanks for reporting!  I've checked a fix into the master branch.  Please give it a test and see if it fixes the output.  If not, please re-open this issue.

Thanks again!

[2020-10-19 22:54] #74 closed

[2020-10-20 20:30] jtesta commented on #76
Done.

[2020-10-20 20:30] #76 closed

[2020-10-20 20:30] jtesta commented on #63
Done.

[2020-10-20 20:30] #63 closed

[2020-10-21 00:03] jtesta opened #78 "Add client auditing to docker tests"
The docker tests do not currently perform client auditing tests.  This would be great to have, though it would require building a new docker testing image.

[2020-10-25 14:14] thecliguy commented on #73
Hello @jtesta ,

I now have a working case-insensitive look up that operates as follows...

Currently, if an algorithm cannot be found when a `--lookup` is performed then it is listed under the heading `# unknown algorithms`. This will continue to be the case but in addition, any algorithm not found is now searched for to find any matching similar algorithms.

The search for similar algorithms is

[2020-10-25 17:38] thecliguy opened #79 "Windows Build"
In version 2.2.0, the Windows build consisted of a single EXE file.

Whereas in version 2.3.0, it consists of multiple files.

It's not a big deal but a single EXE just made the app a little more portable.

So I was just wondering why this has changed?

[2020-10-25 18:57] jtesta commented on #79
I wanted to make a single EXE for v2.3.0 as well, but the fact that the
policy files were external made things more difficult.  So in the short
term, I had to generate the release differently.

In #75, I was able to migrate the built-in policies to an internal
database, so packaging in Windows (and other platforms) will be easier.
The next Windows release will be a single EXE again.

Glad to hear

[2020-10-25 19:01] jtesta commented on #73
Yeah, that sounds good.  Bonus points if your PR passes the Tox tests
too!  (Though this isn't required... see CONTRIBUTING.md.)

FYI, early this week I'm planning on making another release, so if
you're able to submit it by Tuesday, there's a good chance it'll be
included!

--
Joseph S. Testa II
Founder & Principal Security Consultant
Positron Security

[2020-10-25 21:05] thecliguy commented on #73
Thank you. PR submitted, see #80.

[2020-10-28 15:57] #79 closed

[2020-10-28 15:57] jtesta commented on #73
Merged!

[2020-10-28 15:57] #73 closed

[2020-10-28 17:04] jtesta commented on #77
Done.

[2020-10-28 17:04] #77 closed

[2020-10-30 01:20] gbiagomba opened #81 "Batch scanning fail"
Hello,

When i try to scan a batch of targets in a file if one of those get a `[exception] cannot connect to 127.0.0.1 port 22 : timed out` or `connection refused` the scan fails. i tried specifying the `-b` flag but that did not help much. The work around was to just cat the file and run it in parallel/xargs. But i still figured i should let you know.

[2020-10-30 01:22] jtesta commented on #81
Hmm... well, according to that error message, it seems that you told
ssh-audit to connect to localhost, which doesn't have port 22 open.  Was
that intended?

On 10/29/20 9:20 PM, Mad Gray Hatter wrote:

--
Joseph S. Testa II
Founder & Principal Security Consultant
Positron Security

[2020-10-30 02:00] jtesta commented on #81
I think I misunderstood you earlier.  You mean that if the connection to one server fails in a group, no further processing is done?  That would indeed be a problem...

[2020-10-30 14:17] gbiagomba commented on #81
@jtesta yes that is correct, if one of the servers fails it stops all together. I redacted the original address and put in the localhost instead.

[2020-10-31 22:53] thecliguy opened #82 "Man Page on Windows"
I'm contemplating whether it would be possible make the man page available in Windows.

This is not a complete solution, these are just my initial thoughts exploring what would be required and how we might go about doing it... Any thoughts, feedback or suggestions would be welcome...

## Converting the man page to a readable format for the Windows console

Since Windows doesn't have a manual reade

[2020-11-05 11:25] cyberfreaq opened #83 "CVE-2018-15473 (OpenSSH User Enumeration) missing in versionvulnerybilitydb.py"
There is even a MSF module to exploit this vulnerability:
https://www.rapid7.com/db/modules/auxiliary/scanner/ssh/ssh_enumusers

[2020-11-05 16:48] WSLUser commented on #82
Well ssh has a man page so I'd suggest looking there. Cygwin ssh would likely be your best bet.

[2020-11-05 16:49] WSLUser commented on #72
You should actually use Azure Pipelines instead for CI/CD. It's free for OSS projects so you should be able to get an account and configure everything.

[2020-11-05 17:40] jugmac00 commented on #72
GitHub Actions could be a successor for both Appveyor and Travis (which severly restrict their free open source plans)

https://github.com/features/actions

There is no reason to hurry, though.

The advantage of GitHub actions would be the tight integration with GitHub, the timely updates (See Python 3.9), and one platform for all os tests.

They suffer from a serious injection vuln currently, tho

[2020-11-05 22:24] jtesta commented on #72
@jugmac00 I'm open to using GitHub Actions, eventually.  Getting Windows testing would be nice to have, but not something to rush.

[2020-11-06 01:35] jtesta commented on #83
Fixed.  Thanks for reporting!

[2020-11-06 01:35] #83 closed

[2020-11-09 07:41] rubo77 opened #86 "Let the order be equivalent"
[code]

This sounds strange to me ;)

[2020-11-10 12:29] jugmac00 commented on #72
For reference
https://docs.github.com/en/free-pro-team@latest/actions/learn-github-actions/migrating-from-travis-ci-to-github-actions

[2020-11-25 18:25] thecliguy opened #87 "ssh-rsa Host Key Algorithm"
@jtesta Hi Joe

The [OpenSSH 8.3 release notes](https://www.openssh.com/txt/release-8.3) includes a future deprecation notice where it says:
_"...we will be disabling the "ssh-rsa" public key signature algorithm by default in a near-future release"_.

Is it worth updating `ssh-rsa` in `ssh2_kexdb.py` to mention something like _"A future deprecation notice has been issued in OpenSSH 8.3, see https:

[2020-11-25 19:06] thecliguy commented on #87
Correction...

I believe this future deprecation notice originally appeared in OpenSSH 8.2: https://www.openssh.com/txt/release-8.2

It's been repeated in [8.3](https://www.openssh.com/txt/release-8.3) and [8.4](https://www.openssh.com/txt/release-8.4).

[2021-01-04 15:36] dirtycache opened #89 "CVE-2018-15473"
Scanning Ubuntu 18.04 LTS. Per [Ubuntu security notification](https://ubuntu.com/security/notices/USN-3809-1) this is fixed as of package 1:7.6p1-4ubuntu0.1 but it is still flagged in the output of a systems updated to 1:7.6p1-4ubuntu0.3

[2021-01-04 15:48] jtesta commented on #89
On Mon, 2021-01-04 at 07:36 -0800, Adam Korab wrote:

Thanks for reporting this.  It can be fixed by extending the header
version parsing logic to understand the extra version information that
is given during the connection setup (i.e.: "Ubuntu-4ubuntu0.1" vs.
"Ubuntu-4ubuntu0.3").

I could use help from the community in writing this patch.

--
Joseph S. Testa II
Founder & Principal Security Consu

[2021-01-04 16:34] dirtycache commented on #89
I'll take a stab at it, but If wanted to first call it out and verify if it was indeed a false positive, or if the openssh-server package was just still broken.

The latter scenario has been known to happen from time to time. :)

Thanks for being so responsive.

[2021-01-15 15:01] noblemtw opened #90 "ssh-audit failing on some cisco devices"
The later versions of ssh-audit are failing with the below error when trying to scan some Cisco devices. The ones I know of are running Cisco IOS XE Software, Version 16.10.01, although it's possible other versions have similar issues. The rather old version 1.7 worked, so it's something the more recent development has caused...

Unfortunately, due to firewalls and ACLs, I don't have any devices y

[2021-01-19 20:21] thecliguy commented on #87
@jtesta Sorry to chase... I'm happy to submit a PR for this but wanted to check if you agree it's the right thing to do...? The last thing I want to do is make ssh-audit produce misleading information.

Do you have any plans for another ssh-audit release?

[2021-01-20 02:56] jtesta commented on #87
Sorry for the late reply.  I got side-tracked for a little while.

Sure, you can submit a PR for that.

Perhaps once this issue and #90 are handled, it might make sense to
make one...

--
Joseph S. Testa II
Founder & Principal Security Consultant
Positron Security

[2021-01-20 03:01] jtesta commented on #90
Thanks for reporting this!  And sorry for the late response.

My guess is that the service stops responding to new connections during
the testing (connection throttling?), causing the hostkey checks to
fail.  But I'd rather not guess, if at all possible.  Could I get a
PCAP file showing what happens when you run ssh-audit against this
Cisco device?  If so, you can e-mail it to me directly so it's

[2021-01-20 10:43] noblemtw commented on #90
Hi Joe,

Many thanks for looking into this and don't worry about the delayed
response, I imagine you have a day job like the rest of us.

I've attached two packet captures. The first one (ssh2.dmp) is from 2.3.1,
however while running the first I noticed some errors at the router end
(below) and I think the connection was just being dropped due to
client/server failing to negotiate a suitable kex.

[2021-01-20 14:56] jtesta commented on #90
Unfortunately, Github didn't pick up the attached files from your e-mail response.  Seems like you'll have to log into the web application to attach files...

[2021-01-20 16:08] noblemtw commented on #90
Hopefully these work...

[ssh.dmp.gz](https://github.com/jtesta/ssh-audit/files/5843686/ssh.dmp.gz)
[ssh3.dmp.gz](https://github.com/jtesta/ssh-audit/files/5843687/ssh3.dmp.gz)

[2021-01-20 20:30] jtesta commented on #90
Yep, they did.

I think I identified the problem, too.  A potential fix has been
checked into master.  Can you give it a try?  If it doesn't work,
please attach another packet capture, along with the full program
output.  Thanks!

[2021-01-20 20:38] jtesta commented on #86
My apologies for the late response!

The order of algorithms is actually significant, with the ones appearing first taking priority over the rest.  In this case, `hmac-sha2-256-etm@openssh.com` is slightly preferred over `hmac-sha2-512-etm@openssh.com` because it generates a smaller tag size.

[2021-01-20 20:38] #86 closed

[2021-01-20 20:43] jtesta commented on #82
Not offhand.  But [PyInstaller's documentation](https://pyinstaller.readthedocs.io/en/stable/) should describe how to do this.

I'd be happy to this feature in, if you were interested in working on it.

[2021-01-20 20:51] thecliguy commented on #82
@jtesta Let's say we do find a way to ship the man page (in its converted format) within the ssh-audit executable...

You'd need to add some steps to your Windows build process to produce the ANSI escape sequence formatted version of the man page (as described above). Are you OK with this?

I simply cannot find a way to easily render man pages on Windows in their native format. There's probably so

[2021-01-20 22:17] jtesta commented on #82
Yep.  Every time the `ssh-audit.1` file is updated, I could run a `update_windows_man_page.sh` script to create `ssh-audit-windows-man-page.txt` with the escape sequences preserved in it.

One of the original design goals of ssh-audit was to run with no external dependencies.  The Windows build is a special case, however.  Before PyInstaller is run, dependencies can be installed with pip.  However

[2021-01-20 22:58] thecliguy commented on #82
What if instead of `update_windows_man_page.sh` producing a text file, it produced a python file, where it populates a string with the ANSI escape sequence formatted version of the man page?

[code]

Could `ssh-audit` then reference `WINDOWS_MAN_PAGE` as a variable so we don't have to package the man page as a text file?

[2021-01-21 01:27] jtesta commented on #82
On Wed, 2021-01-20 at 14:58 -0800, thecliguy wrote:

I was thinking that, actually.  Then the code can do something like:
[code]

Two concerns about the above strategy: 1.) PyInstaller might not
automatically package windows_man_page.py; it might need to be
explicitly told (somehow), and 2.) pylint and/or flake8 might not like
conditional imports.

--
Joseph S. Testa II
Founder & Principal Securit

[2021-01-21 01:50] thecliguy commented on #82
Here's another way we could approach it that avoids both of those potential problems...

Add `WINDOWS_MAN_PAGE = ''` to `globals.py`.

When performing a windows build, run `update_windows_man_page.sh`, it will perform a find and replace against `globals.py`, populating `WINDOWS_MAN_PAGE` with the ANSI escape sequence formatted version of the man page.

When a user invokes `ssh-audit --manual`, if

[2021-01-21 01:53] jtesta commented on #82
Perfect!

[2021-01-21 01:54] thecliguy commented on #82
I am making an assumption that PyInstaller automatically packages `globals.py`. Is that correct?

[2021-01-21 03:20] jtesta commented on #82
Yep.

[2021-01-21 09:24] noblemtw commented on #90
Wow, that was quick!

Running master against the problem device is now reporting back as expected so the fix looks good

`# general
(gen) banner: SSH-2.0-Cisco-1.25
(gen) software: Cisco IOS/PIX sshd 1.25
(gen) compatibility: OpenSSH 5.9-6.6, Dropbear SSH 2013.56+
(gen) compression: disabled

# key exchange algorithms
(kex) diffie-hellman-group-exchange-sha1 (2048-bit) -- [fail] removed (in server

[2021-01-21 09:24] #90 closed

[2021-01-22 14:02] jtesta commented on #90
Great to hear!

[2021-01-24 00:11] thecliguy opened #91 "Ubuntu 20.10 - Current ssh-audit package is 2.2.0"
`ssh-audit` on Ubuntu 20.10 is currently at version 2.2.0, the maintainer is the _Ubuntu MOTU Developers_, see: https://packages.ubuntu.com/groovy/ssh-audit

I _think_ that the _Ubuntu MOTU Developers_ pull the package from Debian, which is maintained by _ChangZhuo Chen_, see: https://tracker.debian.org/pkg/ssh-audit

Does anyone understand what's preventing _ChangZhuo Chen_ from packaging `ssh-au

[2021-01-24 00:44] thecliguy commented on #87
@jtesta Are you happy with the following warning text:
`A future deprecation notice has been issued in OpenSSH 8.2: https://www.openssh.com/txt/release-8.2`

So the output of `ssh-rsa` would be as follows:

[code]

[2021-01-24 14:11] jtesta commented on #91
On Sat, 2021-01-23 at 16:11 -0800, thecliguy wrote:

I reached out to him before (several times) to convince him to upgrade
to my fork.  After that, I figured I should stop pestering him.  But
hey... if you want to nudge him about v2.3.1, I won't stop you.  ;)

You could also mention that the project switched to setuptools to make
maintenance easier.

--
Joseph S. Testa II
Founder & Principal Secu

[2021-01-24 14:13] jtesta commented on #87
On Sat, 2021-01-23 at 16:44 -0800, thecliguy wrote:

Perhaps it should be an info-level message.  But otherwise, that sounds
good!

--
Joseph S. Testa II
Founder & Principal Security Consultant
Positron Security

[2021-01-24 15:27] thecliguy commented on #91
@czchen Please can you advise how often `ssh-audit` is updated in Debian unstable?

The current package in Debian unstable is 2.2.0, whereas the most recent release of `ssh-audit` is [2.3.1](https://github.com/jtesta/ssh-audit/releases/tag/v2.3.1).

Please also see the comment above from Joe Testa that the project has switched to `setuptools` to make maintenance easier.

[2021-01-24 16:58] thecliguy commented on #87
PR submitted, see #92.

[2021-01-24 23:20] thecliguy commented on #81
@jtesta Do you see any problem replacing [this](https://github.com/jtesta/ssh-audit/blob/bbb81e24ab4c37f7a2a6dec456e4700f52838a88/src/ssh_audit/ssh_audit.py#L789) `sys.exit` with a `return`?

So instead of this:
[code]

Do this:
[code]

This will allow a scan of multiple targets to continue if one or more targets fails.

The [calling code](https://github.com/jtesta/ssh-audit/blob/bbb81e24ab4c37f7a

[2021-01-25 03:51] jtesta commented on #81
Yes, that is the solution.  However, I've been working on a larger patch that adds multi-threaded scanning as well.  I expect it to land in master in the next couple days.

Thanks for looking into it though!

[2021-01-30 21:56] thecliguy commented on #82
@jtesta

I've written a function to:
  * Determine if Windows supports ANSI escape sequences _(support was first added in Windows 10 version 1511)_.
  * If ANSI is supported then print the manual text, else strip the ANSI escape sequences and print a plain text version of the manual.

The function is invoked using the `--manual` or `-m` parameters.

I've a couple of implementation related question

[2021-02-01 15:07] jtesta commented on #82
Perhaps `usage()` should explicitly tell the user that -m/--manual is
for Windows only.  And if it's used on a non-Windows OS, we print an
error that it's not supported on this platform (I think this should
answer your first question too).

[2021-02-01 17:14] thecliguy commented on #82
@jtesta Thank you, that makes sense. I'll proceed on that basis.

In [PACKAGING](https://github.com/jtesta/ssh-audit/blob/master/PACKAGING) it says that the Windows package is built against Python 3.7.x. I see that PyInstaller (4.2 _stable_) now supports up to Python 3.9, see [downloads](http://www.pyinstaller.org/downloads.html). Do you want to continue building against Python 3.7.x or move to 3.

[2021-02-01 17:20] jtesta commented on #82
I'll switch to Python 3.9 for Windows builds, then.

To update PACKAGING?  That wouldn't be necessary.  I'll update it
myself with tweaks after each time I package a new release.

[2021-02-01 18:16] jtesta commented on #81
@gbiagomba I just checked in multi-threading support into `master`.  This should also fix the problem of terminating upon error with a single host.  If not, please re-open this issue and let me know.  Thanks for reporting this issue!

[2021-02-01 18:16] #81 closed

[2021-02-01 19:23] thecliguy commented on #87
@jtesta Hi, I saw that you accepted the PR but it looks like the Travis build failed.... Did I do something wrong?

[2021-02-02 00:25] jtesta commented on #87
I'm not sure if it failed because of your PR, or your PR+changes I added before merging.  Either way, it should be fixed now.  Thanks!

[2021-02-02 00:25] #87 closed

[2021-02-02 17:09] jtesta commented on #51
@jugmac00 @MestreLion I fixed the hardening guides months ago, but forgot to update you about it.  Please let me know if you notice any other problems!

@sleepnmojo Thanks for the suggestion!  I've updated the hardening guides with them.

[2021-02-02 17:09] #51 closed

[2021-02-02 17:21] jtesta commented on #6
Fixed.

[2021-02-02 17:21] #6 closed

[2021-02-03 01:57] thecliguy commented on #82
@jtesta PR submitted, see #93.

[2021-02-03 16:33] jugmac00 commented on #51
@jtesta Thanks a lot. Works like a charm. Thanks for updating the guide!

[2021-02-05 22:16] jtesta commented on #82
Thanks!  I approved it, and changed a few things in 11e2e775859dccfb21d615d38cb2b640eae7fb10.  Namely, `update_windows_man_page.sh` now supports Cygwin only.  This is because `pyinstaller` must be run from Windows, and we need the `man` program to filter the man-page into ANSI sequences.

Secondly, since [colorama.init()](https://github.com/jtesta/ssh-audit/blob/49cf91a902ebd927a05e3623968ca0d22fd

[2021-02-05 22:20] jtesta opened #94 "Microsoft Defender falsely identifies Windows beta build as malware"
When testing the Windows builds with the latest version of pyinstaller (4.2) and Python (3.9.1), Microsoft Defender claims ssh-audit.exe is "Trojan:Win32/Fuerboos.D!cl".  I've submitted this false positive to Microsoft, so hopefully it'll be resolved soon.

I suppose I'll hold the v2.4.0 release for a few days to see if they fix this issue.  Otherwise, perhaps I'll release 2.4.0 without a Windows

[2021-02-05 22:48] thecliguy commented on #82
Hi Joe, the code I had written was more verbose but served some specific purposes...

I was just looking at [`11e2e77`](https://github.com/jtesta/ssh-audit/commit/11e2e775859dccfb21d615d38cb2b640eae7fb10) and it does introduce a few problems...

  * ANSI support was first introduced in Windows 10 version 1511. Therefore we can't just assume that ANSI support is available, we need to check if it's

[2021-02-05 23:21] thecliguy commented on #82
I see that `update_windows_man_page.sh` uses `uname` to identify Cygwin. So it should be quite easy to support both Cygwin and Linux. I can work on this if you're happy for me to do so?

[2021-02-06 01:41] thecliguy commented on #82
A comment about underlined text...

`colorama` isn't needed for Windows to interpret and render underlined text when expressed as ANSI. In fact,  `colorama` actually seems to be causing the problem...

To demonstrate, if you remove this:
https://github.com/jtesta/ssh-audit/blob/49cf91a902ebd927a05e3623968ca0d22fd98e69/src/ssh_audit/ssh_audit.py#L62-L66

And add `os.system("")` to `windows_manual`,

[2021-02-06 02:18] jtesta commented on #82
According to [this](https://docs.microsoft.com/en-us/lifecycle/products/windows-10-home-and-pro) and [this](https://docs.microsoft.com/en-us/lifecycle/products/windows-10-enterprise-and-education), version 1511 reached its end-of-life in October 2017.  So we don't need to worry about Windows 10, it seems.

I see that Server 2012 R2 is supported until late 2023.  In that case, users on that platfor

[2021-02-06 02:24] jtesta commented on #82
@thecliguy Do you have access to a Server 2012 R2 machine?  If so, can you show the output of `platform.platform()`?  That seems to return detailed Windows version information in it.  I can use that to automatically turn off colors.

[2021-02-06 11:48] thecliguy commented on #82
@jtesta

Great, so we don't need to worry about unicode characters in the man page because you've stripped out unicode hyphens prior to export in `update_windows_man_page.sh`.

On Windows 10, now that you've changed `colorama_init(strip=False)` to `colorama_init()` ANSI escape characters are automatically removed when piping to another program (eg `more`) or redirecting to a file.

I agree about u

[2021-02-06 15:12] jtesta commented on #82
Ok, I'll look into how to identify Windows 8.1.

Thanks!

What does this do on Windows Server 2016, though?  I'd be wary of using
this without testing first.  Since I don't have Server 2016 handy, I'll
probably go with platform.platform() to be safe.

Thanks for the help!

[2021-02-06 15:32] thecliguy commented on #82
For Windows 10, Windows Server 2016 and Windows Server 2019 the `major` part of the version number is `10`. All previous versions of Windows use a major value below `10`.

See [Windows System Information: Operating System Version](https://docs.microsoft.com/en-us/windows/win32/sysinfo/operating-system-version) and [Comparison of Microsoft Windows versions: Windows NT](https://en.wikipedia.org/wiki

[2021-02-06 16:12] jtesta commented on #82
Ok, I updated it to use sys.getwindowsversion(), since that doesn't
require an additional import.  Thanks for doing research on this!

[2021-02-06 16:22] thecliguy commented on #82
I noticed that you placed the code for disabling colour within `main`:
https://github.com/jtesta/ssh-audit/blob/1b7cfbec713a2d0cbc6ded2df8b768a4f745d9eb/src/ssh_audit/ssh_audit.py#L1029-L1033

This means that there is no colour output at all now on older versions of Windows, such as when performing a scan.

Older versions of Windows can handle colour output, they just don't understand ANSI. So you

[2021-02-06 16:30] jtesta commented on #82
They can do color in other ways?  How?  I thought older versions of
Windows had no color support at all.

The scan output uses ANSI color codes as well (see
https://github.com/jtesta/ssh-audit/blob/1b7cfbec713a2d0cbc6ded2df8b768a4f745d9eb/src/ssh_audit/outputbuffer.py#L64
).  So we're already in an all-or-none situation.

If there's another way to do color on Windows 8.1/Windows Server 2012
R2, I'

[2021-02-06 20:02] thecliguy commented on #82
Windows had no color support at all.

Although Windows 10 version 1511 was the first version of Windows to support ANSI escape sequences, colour was previously supported by calling the Windows Console API.

Sorry about this... I just discovered something that I should have realised earlier... It appears that colorama must convert ANSI escape sequences into Windows Console API calls because when ss

[2021-02-06 20:17] thecliguy commented on #82
* Set a flag if the colorama import fails.
    * If the flag is set then invoke this regular expression to fall back to plain text:

How about this?

[code]

[2021-02-06 20:23] thecliguy commented on #82
Sorry, that example above is wrong - I need to take a break from this... 😩

Hopefully you get my point though.

[2021-02-06 23:04] jtesta commented on #82
No problem.

When you're ready to continue, I think the easiest path would be for
you to test a patch against your Server 2012 machine, then submit a PR.
 Otherwise, I'm pretty much just guessing with changes on my end.

No rush, though.

[2021-02-06 23:18] thecliguy commented on #82
Thank you, there is just a small amount of work left to finish this.

I can visualise exactly what needs to be done, I will submit a PR tomorrow.

[2021-02-07 17:28] thecliguy commented on #82
@jtesta PR submitted, see #95.

When I first wrote `windows_manual` my intention was to use the Win32 API to determine whether Windows supported ANSI or not. If ANSI was not supported, then I fell back to a plain text version of the man page. The function has since evolved and been simplified so it depends on the colorma library.

It isn't necessary to disable colour on older versions of Windows w

[2021-02-17 17:46] thecliguy commented on #82
@jtesta Sorry to bug you, just wondered if the PR and the explanation [above](https://github.com/jtesta/ssh-audit/issues/82#issuecomment-774713952) all looks OK to you?

If you've got any questions please ask me anything...

[2021-02-18 19:54] jtesta commented on #82
Merged.  Thanks for helping me with this!

I'd like to get a release out the door soon.  I'm just waiting on a block of hours to free up so I can focus on packaging everything up correctly.  Hopefully that will be within the next few days!

Thanks again!

[2021-02-18 19:54] #82 closed

[2021-02-18 19:55] jtesta commented on #94
After two rounds of speaking with Microsoft, it seems like this issue is now fixed... assuming users have updated AV definitions.

[2021-02-18 19:55] #94 closed

[2021-02-24 00:15] jtesta opened #96 "Re-design Windows icon"
Currently, the application icon for the Windows build is just a place-holder (see `windows_icon.ico`).  It would be nice to replace it with permanent design.

I'm not an artist, however.  We would need someone from the community to volunteer.

[2021-02-24 22:07] thecliguy commented on #91
FYI - Today I raised a ticket with Debian asking if there are any issues preventing new upstream versions of ssh-audit from being
packaged and added to Debian unstable.

[2021-02-24 22:09] jtesta commented on #91
Nice.  Thanks!

[2021-02-25 01:12] thecliguy opened #97 "Calling SSH_Socket 'Connect' Doesn't Return Errors After the First For Loop Iteration"
When auditing an SSH server, `audit` invokes:
https://github.com/jtesta/ssh-audit/blob/741bd631e24eec0e4965297dc78b9d7bb5b33e13/src/ssh_audit/ssh_audit.py#L824

The `connect` method contains a for loop:
https://github.com/jtesta/ssh-audit/blob/741bd631e24eec0e4965297dc78b9d7bb5b33e13/src/ssh_audit/ssh_socket.py#L154

The caller doesn't seem to return an error if it occurs **after the first iterati

[2021-02-25 23:17] thecliguy commented on #97
My analysis above is incorrect, so I'm closing this issue.

Errors returned by SSH_Socket's `connect` method are sometimes being suppressed because the caller doesn't return them. I will explain this more fully in a new issue.

[2021-02-25 23:17] #97 closed

[2021-02-26 00:01] jtesta commented on #97
No problem.

[2021-02-26 22:35] thecliguy opened #98 "SSH Connections - Additional Logging and Visibility of Errors"
ADDITIONAL LOGGING
------------------

I'm planning on using `ssh-audit` in a production environment and would like to be able to demonstrate and record how _aggressive_ a typical audit is.

Currently verbose output only shows the initial SSH connection that's made to a target server:

  https://github.com/jtesta/ssh-audit/blob/c483fe1861bcfaefabec21a9195b7c226540aaa4/src/ssh_audit/ssh_audit.py#L8

[2021-02-27 01:14] jtesta commented on #98
Yes, additional logging would be good.  And a new --debug parameter
would make sense in that case.

Yeah, they should be visible.  I'm leaning towards only printing them
when verbose or debug mode is enabled.

[2021-02-27 18:27] thecliguy commented on #98
Thanks for the quick response.

Would you be able to show me the correct way to pass an instance of an `OutputBuffer` to `HostKeyTest.run()` and `GEXTest.run()`? Currently those classes don't produce any output.

Once I know how to do this correctly, I can work on implementing `--debug`.

[2021-03-01 18:19] jtesta commented on #98
Those methods are static, so you could simply pass in a reference to an
OutputBuffer.

[2021-03-01 20:14] thecliguy commented on #98
Perfect, thank you.

[2021-03-02 00:00] thecliguy commented on #98
@jtesta Should I bother annotating the argument that accepts an `OutputBuffer`?

EG:
[code]

In order for `tox` to parse the `'OutputBuffer'` annotation I'd have to import `OutputBuffer` in `gextest.py` and `hostkeytest.py`, EG:
[code]

[2021-03-02 00:16] jtesta commented on #98
If tox complains about it, then yeah... we'd have to import it.

[2021-03-02 16:31] jtesta commented on #98
Thanks for the PR!  I merged it and then made a small change: `SSH_Socket()` now takes an `OutputBuffer` so that all its methods can use it without having to pass it in every time.

There's LOTS of debugging output we can potentially generate.  I figure we'll add it in as needed.  I'd be happy to accept debugging lines if you find them helpful.

Thanks again!

[2021-03-02 16:31] #98 closed

[2021-03-02 19:41] thecliguy opened #100 "Add a Table of Contents (ToC) to README.md"
The `README.md` is becoming very long, this presents two problems:
  1. New users can't see at a glance what sort of information it contains without scrolling through the entire thing.
  2. It's difficult to quickly jump to a specific section of the page.

A Table of Contents (ToC) would help address the above. For an example of what I mean, see the [VimWiki](https://github.com/vimwiki/vimwiki) pr

[2021-03-02 19:59] thecliguy commented on #100
If you're happy for me to add a manually generated ToC (which I think will be fine), let me know and I'll submit a PR. This will take me no time at all to produce.

[2021-03-03 00:43] jtesta commented on #100
Sure, that would be helpful!  I was thinking lately, too, that the
README is getting unwieldy...

[2021-03-04 23:19] thecliguy commented on #100
PR submitted, see #101.

[2021-03-04 23:24] jtesta commented on #100
Merged.  Thanks!

[2021-03-04 23:24] #100 closed

[2021-03-06 17:38] thecliguy opened #102 "Show MD5 Hash of Fingerprint in Verbose Output"
When when verifying host keys, [PuTTY](https://www.chiark.greenend.org.uk/~sgtatham/putty/), [plink](https://the.earth.li/~sgtatham/putty/0.74/htmldoc/Chapter7.html#plink) and [psftp](https://the.earth.li/~sgtatham/putty/0.74/htmldoc/Chapter6.html#psftp) use an `md5` hash rather than a `sha256` hash.

<details>
<summary>plink 0.74 - Example Output  <i>(click to expand)</i>:</summary>
<p>

[code]
<

[2021-03-06 20:08] thecliguy commented on #102
I probably should have explained my use case for this a bit better...

When I work on projects that use an SSH component, I often need to analyse and review logs from a live environment.

As part of this analysis, it's useful to be able to check the fingerprint returned by a client tool against an audit of the server that it's connecting to.

I'm not advocating the use of PuTTY client tools _(`PuT

[2021-03-08 15:20] jtesta commented on #102
Sure, we can include the MD5 hash for verbose output.

[2021-03-09 00:09] thecliguy commented on #102
@jtesta - Although `ssh-audit` currently only supports two fingerprint hash types I want to avoid hardcoding rules and values...

Therefore I'd like to have a single source of truth for all the fingerprint hash types that `ssh-audit` supports.

In my proof of concept, I'm using the `Fingerprint` class itself as the source of truth:

[code]

This works nicely in my proof of concept but my I'm a bit

[2021-03-26 11:19] shoopdawoop opened #103 "Feature request: Consider host entries in .ssh/config"
It would be convenient if host entries in .ssh/config (hostname, port) could be recognised and automatically be used, so an entry like

[code]

would allow a simple

`ssh-audit.py staging`

instead of a

`ssh-audit.py -p 54321 mystagingserver.domain.com`

[2021-03-26 13:46] jtesta commented on #103
That would be convenient.

If someone was interested in writing that patch, I'd be happy to merge
it!

[2021-03-26 14:02] jugmac00 commented on #103
Maybe consider a separate subcommand, e.g. `ssh-audit.py check-config-host staging` or `ssh-audit --from-config staging` or similar... (ok, I am not good at naming).

Otherwise how would you decide what `ssh-audit xxx` means? Is it a host or a section header for a host in a config file?

Is the location of the ssh-config file always `~.ssh/config` or is it configurable?

[2021-03-26 14:54] thecliguy commented on #103
I think this is a very good question but I'm not convinced that adding code to ssh-audit to parse and extract data from openssh config files is the right thing to do. I just feel it's not really ssh-audit's job to do this and it could be solved a different way...

What I would suggest is that you extract the data from the config file using a tool like `grep` or `awk` and then either pipe the resul

[2021-03-26 20:24] shoopdawoop commented on #103
If you'd ask me I'd say it should be as simple as possible (the goal being less typing, not more), e.g. an option -h to check for hostnames in .ssh/config first, and maybe -H to specify a /path/to/a/config file.

[2021-03-26 20:33] jugmac00 commented on #103
I immediately thought on `-h` but this is already used for `help`.

[2021-03-27 01:02] thecliguy commented on #103
@shoopdawoop Does the bash script below do what you want?

To use it:
  * Save the script as `scan_host_in_ssh_config.sh`
  * Update `SSH_AUDIT_PY` to point to the location of your `ssh-audit.py`
  * Execute the script as follows: `scan_host_in_ssh_config.sh staging`

[code]

[2021-03-27 14:22] shoopdawoop commented on #103
This works great and I learned a few things. Thank you!

I had to replace `sed '2 i\-p'` with `sed '2 s/^/-p /g'` on macOS because apparently BSD sed is weird and throws an `extra characters after \ at the end of i command` and I could not figure this one out.

This works well for me, so feel free to close.

[2021-03-27 15:01] jugmac00 commented on #103
Just as a hint... For a Python package you can specify more than one command line entry point.

Once you install the e.g. `all-repos` package, you have the many commands available like `all-repos-grep`, `all-repos-find`, `all-repos-sed`...

[2021-03-27 15:44] thecliguy commented on #103
You're very welcome, I'm glad it worked.

The command pipeline that I wrote could almost certainly be refined and improved so it doesn't use quite so many different tools.

The point I really wanted to illustrate is that we don't necessarily need to overcomplicate ssh-audit so it handles specific types of input because it's actually already incredibly flexible just by virtue of being a command lin

[2021-03-29 11:14] shoopdawoop commented on #103
This "in the spirit of *nix way" is fine with me. Again, thank you!

[2021-03-29 11:14] #103 closed

[2021-04-05 02:21] thecliguy commented on #102
@jtesta Please can you review PR #104.

This PR adds the ability to specify hash types that should appear in verbose output. This is achieved by adding the hash type to the `fingerprint_hash_types_verbose` list.

Below are some example usages where `fingerprint_hash_types_verbose = ['md5']`.

## Verbose output:
[code]

## Verbose output as JSON:
**NB:** In the example below I've placed each finger

[2021-04-20 19:23] thecliguy commented on #91
@jtesta Unfortunately there's been no reply to the ticket I opened on 24th February.

So we don't know why the current package maintainer for Debian has stopped packaging new versions of ssh-audit... Is it due to a technical problem, has got just behind due to lack of time, or has he permanently retired as the maintainer...?

I've emailed you the link to the ticket if you want to take a look.

Do

[2021-04-20 19:50] thecliguy commented on #102
@jtesta For some reason Travis CI didn't seem to add any feedback to the PR.

There was one thing in the PR that I was not entirely happy with... `fp_hash_types` (passed to `output_fingerprints`) is a list of hash types, where each item is a dictionary with two properties (`name` and `verbose`). I'm not sure if this was an appropriate choice of data structure or whether a class or something else w

[2021-04-21 13:07] thecliguy opened #106 "Windows Binary (ssh-audit.exe) Displays Version Number as v2.4.0-dev"
For some reson the Windows binary (ssh-audit.exe) shows the version number as v2.4.0-dev:

[code]

I beleive the version number is picked up from `globals.py `.

I assume that the Windows binary was built before the `dev-` suffix was removed.

Perhaps `PACKAGING.md` should include a section on bumping the version number to prevent this from happening?

[2021-05-09 23:35] thecliguy opened #107 "ecdsa-sha2-nistp<256/384/521>"
@jtesta , ssh-audit 2.4.0 returns the following for host key algorithms `ecdsa-sha2-nistp256`, `ecdsa-sha2-nistp384` and `ecdsa-sha2-nistp521`:

[code]

Would it be possible to update the `[fail]` message to include a citation to a credible source that backs up the claim of `using weak elliptic curves`?

I've seen that you presented on the topic of [Problems With Elliptic Curves In TLS and SSH](ht

[2021-05-17 11:23] daniejstriata opened #108 "error in output - `-"
When ssh-audit completed I see under the ciphers section text that does not match formatting. Not sure what is wrong here:
`- [info] default cipher since OpenSSH 6.9.

![image](https://user-images.githubusercontent.com/13314239/118480754-f1dcb600-b712-11eb-8751-e30b89a45d60.png)

ssh-audit v2.4.0 installed from the snap package.

[2021-05-17 15:43] jtesta commented on #108
The 'default cipher' line is formatted that way to tell the user that it belongs to the entry above it (in this case, to the chacha20 algorithm).  The back-tick character is used since its the closest ascii character to a partly slanted line.

Here's a crudely-drawn image of what the two comments are trying to do:

![image](https://user-images.githubusercontent.com/2982011/118517340-1d58a400-b705-

[2021-05-17 15:43] #108 closed

[2021-05-17 15:47] jtesta commented on #107
I'd like to do that, but that opens an entire project around putting in references to everything else as well... which I'm also open to doing.  I suppose we'd have to come up with a strategy for this.  Perhaps references can be put in as "info" notes for each algorithm?  Hmm...

[2021-05-17 16:00] jtesta commented on #106
Thanks for the heads up!  I'll keep this issue open until the next release to remind me.  I think I'll rename `update_windows_man_page.sh` to `package_windows.sh` or something to check for this.

[2021-05-17 16:03] jtesta commented on #91
Last time I looked into it, it seemed like I'd have to apply to become a Debian member in order to be the official maintainer.  I don't recall off-hand what kind of effort that requires (either up-front, or ongoing).  I suppose I'll add this mini research project to my to-do list.

That said, if you or someone else wanted to pursue this avenue, I wouldn't mind!

[2021-05-17 19:14] daniejstriata commented on #108
Can you make it green like the others as it is not an error? Further, as it is the only default, why not print it first, as the default and then the rest that is available? At least in the same colour? Looking at it, I think it was the white coloured text then the grave accent that made me think there is something missing.

Some options come to mind for your consideration.

[code]
or

[code]

[2021-05-17 19:43] thecliguy commented on #107
Can we not keep it simple and just add a reference directly against the note that it relates to?

So in the case of `[fail] using weak elliptic curves`, we'd update the DB value in `ssh2_kexdb.py` with something like:
[code]

If you add references as independent note values then you have to invent a way of associating them with the relevant note. That could get very complicated to maintain.

[2021-05-17 19:48] thecliguy commented on #106
If you're going to handle this within a script, would it not make more sense to use `build_windows_executable.sh` to do this?

[2021-05-18 00:45] jtesta commented on #106
On Mon, 2021-05-17 at 12:48 -0700, thecliguy wrote:

Yep... that's what I meant.  ;)

[2021-05-19 18:06] thecliguy commented on #102
@jtesta Sorry to chase, I just wondered if you've had a chance to review the PR?

[2021-05-20 15:53] jtesta commented on #102
@thecliguy Thanks for the ping.  I needed a push to prioritize this again.

After looking over your PR, if I'm understanding your goals correctly, it seems like it can be done with a simpler patch.  See the `md5_hash_output` branch that I just pushed.

I opted to leave the output format of the fingerprints section the same, since it keeps the important information outside of comments.  Besides thi

[2021-05-20 19:42] thecliguy commented on #102
Hi @jtesta

Thanks for looking into this, please see my feedback...

## Hardcoded Logic Around MD5

I think hardcoding conditional logic around `MD5` is a bit ugly...

What I was trying to do is make it easy to control which algorithms appear in the verbose output.

So let's say in the future there's a desire to add support for additional hashing algorithms and you want them to appear in verbose o

[2021-05-20 20:55] jtesta commented on #102
I'm doubtful that another standard fingerprint format will be coming any time soon.  But if it does, I'd be happy to cross that bridge later.  In the meantime, I'm a fan of not over-engineering the code.

Yep, that was my plan!

Using MD5 fingerprints is indeed undesirable.  But perhaps I can make note of that in a comment.

Thanks for the feedback!

[2021-05-20 21:21] thecliguy commented on #102
I didn't argue my point about the text colour very well...

Red text ought to be reserved specifically for undesirable configuration where the user should take action to fix it.

Whilst I agree that using MD5 hashing is not desirable these days it's presence on an ssh-audit report is not highlighting a defect with the target server that needs to be addressed by the user. It's just an additional pi

[2021-05-20 21:24] thecliguy commented on #102
I feel quite strongly that we should not dilute the significance of red text.

A target server that doesn't exhibit any issues that need investigation by the user shouldn't contain any output in red text.

[2021-05-20 22:18] jtesta commented on #102
Ok.  Please have a look at 07862489c410e173c3f7017b2ca3ec70be172256.  I made it output the MD5 hash in white instead of red.

[2021-05-20 22:37] thecliguy commented on #102
Looks good to me, thanks for you persistence :+1:

[2021-05-20 23:05] jtesta commented on #102
Great!  Thanks for the help!!

[2021-05-20 23:05] #102 closed

[2021-05-22 22:52] thecliguy opened #109 "Group Size Enumeration of diffie-hellman-group-exchange-sha1 and diffie-hellman-group-exchange-sha256"
I've encountered an SSH server where the Diffie-Hellman group size used by the key exchange algorithm `diffie-hellman-group-exchange-sha256` is hardcoded and cannot be seen or configured by an administrator.

My plan was to use ssh-audit to scan the server and find out more information about the supported group size(s) but then I realised that ssh-audit only returns the minimum value.

I studied [

[2021-05-23 18:17] jtesta commented on #109
Sure, how about a non-default option that lets the user do a scan?
 You're right that this causes a huge slow-down in scan times, which is
why I'd want it to be non-default.

What strategy would it use?  Only round numbers like 1024, 2048, etc?
 Something else?

[2021-05-23 18:43] thecliguy commented on #109
Originally I tried using increments of 1024 _(1024, 2048, 3072...)_.

I then switched to increments of 1 _(1, 2, 3...)_ and although this was slow it did reveal that an Ubuntu 20.04 server I scanned was using group sizes that didn't follow an exact pattern: 2048, 3072, 4096, **6144**, **7680**, 8192. I wouldn't have found this out using increments of 1024.

So perhaps we could give the user the op

[2021-05-23 18:48] jtesta commented on #109
Sure, that works.

[2021-05-23 21:18] thecliguy commented on #109
@jtesta What do you think of this as a parameter? Is the name OK, or too cryptic?

[code]

I've used the same parameter value names as Python's [range()](https://www.w3schools.com/python/ref_func_range.asp) function.

I'll come up with some suitable help text to accompany the parameter.

Please let me know if you have a better idea, I'm open to any feedback...

[2021-05-23 22:02] jtesta commented on #109
It's a GEX test, so how about -G / --gex-test ?

[2021-05-24 17:05] thecliguy commented on #109
Perfect - but why an uppercase `G`? I thought the convention was to assign lowercase letters before uppercase.

[2021-05-24 19:55] jtesta commented on #109
Ok, lowercase 'g' it is!

[2021-05-29 03:12] oam7575 commented on #107
Sorry to side track the conversation.
I an running ssh-audit 2.40 and note the weak KEX for the nistp key exchange.

I have rechecked the hardening guides here :  https://www.ssh-audit.com/hardening_guides.html

and manually checked both my client and server config files; however ssh-audit 2.4.0 still gives warnings for these KEX algorithm's ( and a few other things ) .

I have restarted / reboote

[2021-05-29 13:12] jtesta commented on #107
In a new issue, can you post the exact output of ssh-audit, as well as
the sshd configuration changes you made?  That would be very helpful
for debugging.

[2021-05-29 13:35] thecliguy commented on #107
@jtesta oam7575 has now retracted the question, I guess the problem was down to user error?

Getting back on topic, do you have any thoughts about how to progress this? Do you still want to go as far as building a mechanism to handle references, or can we keep it simple and simply add a reference directly against the note it relates to?

[2021-05-29 13:38] jtesta commented on #107
On Sat, 2021-05-29 at 06:36 -0700, thecliguy wrote:

I suppose we could put the references into comments.  After all, that's
the entire purpose of the comments anyway!

I'll import the references from ssh-audit.com, since I already have a
database in the web app.

[2021-05-29 14:07] thecliguy commented on #107
Just as an example, if you were to add a reference to `ecdsa-sha2-nistp521` how will it be made clear to the user which of the three existing comments the reference relates to? Will the reference be appended to the relevant comment?

[2021-05-30 01:46] oam7575 commented on #107
<---- PEBKAC

[2021-05-30 23:50] Keisial opened #110 "Inconsistency with rsa-sha2-512/256 on Hardened policies"
Hardened policies for OpenSSH Server >= v8.2 say that the server MUST support rsa-sha2-512 and rsa-sha2-256, but poicies for < v8.2 say it MUST NOT support either of them.

This is inconsistent, since if it's suitable in OpenSSH 8.2, it should be good to use as well on v8.1 (unless its implementation was broken, or something like that, which doesn't seem to be the case). ssh-audit itself notes the

[2021-05-31 19:55] jtesta commented on #110
Thanks for pointing this out!  I verified that OpenSSH 8.1 does indeed have the ability to restrict on `rsa-sha2-512` and `rsa-sha2-256`.  I updated the built-in policies in https://github.com/jtesta/ssh-audit/commit/45da9f20ae318274aa4bcf628eaec9f6765c9b0f to reflect this.

Thanks again!

[2021-05-31 19:55] #110 closed

[2021-05-31 19:58] jtesta commented on #107
How about this:

[code]

[2021-05-31 23:01] Keisial commented on #110
Great, thanks!

And for the tool itself as well, of course. :)

[2021-05-31 23:53] Keisial commented on #107
I think it would make more sense to include it along the error:

As you could have multiple references:

Although I guess you could use the same format for adding references in a new sublevel:

[2021-06-01 01:27] thecliguy commented on #107
@Keisial Thank you. :+1: You've illustrated the point that I have been trying to make very well.

We must devise a way to clearly indicate to the user which comment a reference relates to.

I think we need to build a relationship between comments and references. So perhaps we need to turn comments into some sort of data structure, EG:
[code]

[2021-06-03 00:03] severach opened #111 "Remove recommended kex diffie-hellman-group-exchange-sha256"
ssh-audit 2.4.0 is recommeding I add some kex.
[code]

[Positron SSH Audit](https://www.sshaudit.com/) says to trash it.
[code]

[Rebex SSH Test]() shows green with a note that doesn't inspire confidence.
[code]

[2021-06-03 00:43] jtesta commented on #111
This KEX is fine to use if your moduli are all >= 3072 bits.

This is a fixed KEX with a 2048-bit modulus (which provides 112-bits of
symmetric security).  If you're targeting 128-bits and up, this isn't
enough.  But some people find 112 to be sufficient.

The web front-end guides people based on 128-bits of minimum strength,
whereas the command line tool has considers 112-bits to be enough.  I
su

[2021-06-08 10:00] TafkaMax opened #112 "Where can I find list of available options for auditing policies?"
Please add that to the documentation. I want to see if servers match this configuration.
[code]

[2021-06-08 13:22] jtesta commented on #112
Assuming your config isn't standard, you can create a custom policy
using a server config as a template with '-M'.  Then you can manually
edit the resulting file as necessary.  The format of the custom policy
file isn't documented, but it should be easy enough to follow along.

These aren't properties that ssh-audit can examine, as they would
require doing a full SSH handshake.

[2021-06-09 07:54] TafkaMax commented on #112
Ah okay. My bad. I didn't know the whole details of this program. I already tried the -M option and it worked nicely and if those are all the options there, then it is documented. I was just thinking if I could also verify the other properties... Will close it, thanks!

[2021-06-09 07:54] #112 closed

[2021-06-09 14:26] jtesta commented on #112
Sure thing!

[2021-06-09 14:56] gbiagomba commented on #81
@jtesta thank you sir :) if you are ever in philly your first beer is on me!

[2021-06-09 15:09] jtesta commented on #81
Sure thing!  ;)

[2021-06-14 03:12] oam7575 commented on #96
Mushed together two images from PNGWing : https://www.pngwing.com/
Near as I can tell the license allows "free non-commercial use"

Cloud converter will convert to an icon file easy enough : https://cloudconvert.com/png-to-ico
Github doesn't appear to allow upload of ico images and pull request seemed overkill at this stage.

Unlikely to win any awards - but here it is.

![SSH_Audit](https://user-

[2021-06-14 03:24] jtesta commented on #96
I appreciate the submission!  I think the concept is good, but
unfortunately when it's scaled down to a 64x64 ICO image, magnifying
glass blends in so much it can't be seen.

[2021-06-14 03:56] oam7575 commented on #96
Yeah - the pixel limit creates a bit of an issue.
Win10 should accept 256x256 px ICO files - but that still doesn't leave much to work with.

Did you have anything specific in mind ?

[2021-06-14 04:02] jtesta commented on #96
Not really, no...

[2021-06-29 22:31] thecliguy commented on #107
@jtesta - Hello Joe, any ideas how to progress this...?

Keisial and I appear to be of the same opinion which is that we need to make it clear to the user which comment a reference relates to, EG:

[code]

In order to achieve this I think we need to form a relationship between comments and references, EG:

[code]

If ssh-audit were to store references in `ssh2_kexdb.py` using a structure as sugges

[2021-06-29 22:33] thecliguy commented on #109
Sorry, it's still my intention to work on implementing this feature. Life has just been a bit busy lately.

[2021-06-30 19:20] jtesta commented on #107
Yep, that looks good.

When verbose mode is enabled, the JSON output should include the
references as well.

[2021-07-04 08:18] kaushalyap opened #114 "Linux binaries"
Currently only Windows binaries are provided, on Linux you have to use `./ssh-audit.py ...` inside the project directory.

Please consider providing pre-compiled binaries with SHA256 checksums.

[2021-07-04 08:28] kaushalyap opened #115 "Remove the expired key"
[code]

[2021-07-04 08:29] kaushalyap commented on #115
Also consider adding signature verification instructions to the wiki or README

[2021-08-25 18:13] jtesta opened #117 "Increase minimum key strength to 128 bits / 3072 bits"
The minimum key strength that is considered good should be 128 bits for symmetric algorithms, or its equivalent of 3072 bits for asymmetric algorithms.

Currently, 2048-bits is acceptable.

[2021-08-27 15:39] jtesta opened #118 "Add Python 3.10 Support"
Python 3.10 is in the release candidate phase as of this writing.  Once it becomes stable, it should be supported in Github Actions and Tox.

[2021-08-31 19:21] AlexDaciuk opened #119 "After applying steps in hardening guide in Centos 7, ssh-audit still fails"
Hi,

Im using ssh-audit to check our ssh config in different linux instances across our AWS infrastructure

ssh-audit : docker image positronsecurity/ssh-audit:latest
OS involved : Centos 7
ssh-server version : 7.4p1-21.el7

My sshd_config ends up with

[code]

But after running ssh-audit I get

[code]

And it exits with code 3

I don't see any KeyAlgorithm in my sshd_config that has **rsa** in it

[2021-08-31 22:09] jtesta commented on #119
Hi Alex.  Looks like the hardening guide needed some updating, which I just performed.  Namely, the OpenSSH version shipped with CentOS 7 does not support SHA2 hashes for RSA keys, hence RSA keys must be disabled entirely.

To fix this on your end, you can run the following 5 commands on your servers:
[code]

Moving forward, the updated CentOS 7 guide will properly disable RSA keys.

Thanks for re

[2021-08-31 22:09] #119 closed

[2021-09-11 10:22] zomfg opened #120 "builtin hardened policy vs ED25519 CA"
- OpenSSH 8.4p1 / Debian 11
- `Hardened OpenSSH Server v8.4 (version 1)` policy

server host keys signed with ED25519 CA

[code]

[code]

signed with RSA CA

[code]
[code]

it's not clear if it's a detection bug/difficulty or a case of "ed25519 ca = bad"
the fact that it's not showing something similar to `(4096-bit cert/4096-bit CA)` for ed25519 CA makes me think that it's not detecting, but then

[2021-09-13 14:15] jtesta commented on #120
I took a look at this and found that the code isn't correctly handling
the case of mixed ED25519 CAs with RSA host keys.  I'll be taking a
closer look at this and fixing it shortly.

ED25519 CAs are good, actually.

Thanks for reporting this!

--
Joseph S. Testa II
Founder & Principal Security Consultant
Positron Security

[2021-09-13 14:36] zomfg commented on #120
awesome!
thank you

[2021-09-16 22:22] AlexDaciuk opened #121 "Missing Debian guides, not clear enough which Ubuntu version to use for which Debian version"
Hi,

Been upgrading my infra from CentOS 7 to Debian 10 and 11 and been using ssh-audit to make our ssh more secure, but there is not dedicated guides for Debian in https://www.ssh-audit.com/, I know that Ubuntu and Debian are almost interchangeable

Usually Ubuntu and Debian version does not have the same version

Debian 10 : 7.9 (or 8.4 in backports)
Debian 11: 8.4
Ubuntu 20.04 : 8.2
Ubuntu 18.0

[2021-09-17 15:52] jtesta commented on #121
Ask and ye shall receive!  Guides have been added for Debian 10 & 11: https://www.ssh-audit.com/hardening_guides.html

Please let me know if you run into any trouble with them.  Thanks!

[2021-09-17 15:52] #121 closed

[2021-09-17 17:36] AlexDaciuk commented on #121
Hi, thanks, just tried both guide in both instances and just found this,

Debian 11 :
`# algorithm recommendations (for OpenSSH 8.4)
(rec) +diffie-hellman-group14-sha256        -- kex algorithm to append`

Debian 10 (with OpenSSH 8.4 from backports) :
`# algorithm recommendations (for OpenSSH 8.4)
(rec) +diffie-hellman-group14-sha256        -- kex algorithm to append`

Can we add that kex algorith

[2021-09-17 17:39] jtesta commented on #121
The issue of diffie-hellman-group14-sha256 coming up as a
recommendation is directly related to issue #117.  Hopefully that'll be
fixed soon.

I'd recommend that you keep that key exchange algorithm disabled, since
it only offers 2048-bit/112-bit of security strength.

--
Joseph S. Testa II
Founder & Principal Security Consultant
Positron Security

[2021-09-21 05:18] VeNoMouS opened #122 "JSON output does not have a recommendations section"
looking at your code, you don't output it in your `build_struct` function...

[2021-09-24 00:58] VeNoMouS commented on #122
Since no response... a hack can be done along the lines ..

[code]
....

[code]

honestly , reading your code is a nightmare, if you're reformatting everything so much all over the place, change it at the source and structure it accordingly so you're not having to loop on everything in order to format it...

just my 2 cents.

[2021-09-24 01:09] VeNoMouS commented on #122
Additionally, since you don't output in a logical structured manner to an object or structured dict as stated above, it makes it impossible / impractical using this as 3rd party python module ... as the end developer has to manually restructure everything your doing just to get logical output.

[2021-09-24 02:15] jtesta commented on #122
I didn't write those parts, but I am responsible for maintaining them.
 I'll gladly accept a PR to fix it though!

As for the issue at hand, it seems like you did most of the work
already.  A PR would speed things up, if you're able to make one.
 Thanks!

[2021-10-08 10:17] MMquant opened #124 "Permission denied when using -T flag (ssh-audit installed by snap)"
ssh-audit installed with snap
[code]

Input file with SSH targets
[code]

Running ssh-audit with -T flag gives permission denied error
[code]
Running as sudo gives the same error
[code]

However passing target directly as an ssh-audit argument works
[code]

Linux information
[code]

[2021-10-11 07:11] MMquant commented on #124
Apparmor is intalled and configured as
[code]
Disabling apparmor entirely (`sudo systemctl stop apparmor`) didn't work

Btw this is the Ubuntu machine used https://aws.amazon.com/marketplace/pp/prodview-zvdilnwnuopoo

Regarding your cat commands

[code]

[2021-10-11 07:31] MMquant commented on #124
I simply tried to clone the github repo and -T flag works. There is a problem with the snap installation/snap permissions.

[2021-10-14 04:01] jtesta commented on #118
Done!

[2021-10-14 04:01] #118 closed

[2021-10-15 03:06] jtesta commented on #124
@MMquant I published an updated Snap package (2.5.0-2).  I think updates are applied automatically every 6(?) hours, so you'll get it soon.  Or you can manually run `sudo snap refresh` to force an update.

Once you have 2.5.0-2 (you can check with `snap info ssh-audit`), you can optionally give it read & write permissions to your home directory with the following command: `sudo snap connect ssh-au

[2021-10-15 03:06] #124 closed

[2021-10-30 16:06] noraj opened #127 "Many openssh CVE missing"
Many openssh CVE are missing from versionvulnerabilitydb

## Partial fix

- [x] 2021
- [x] 2020
- [x] 2019
- [x] 2018
- [x] 2017
- [ ] 2016 (6/14)
- [x] 2015
- [ ] 2000-2014 unchecked

https://github.com/jtesta/ssh-audit/pull/126

see https://nvd.nist.gov/vuln/search/results?form_type=Advanced&results_type=overview&search_type=all&isCpeNameSearch=false&cpe_vendor=cpe%3A%2F%3Aopenbsd&cpe_product=cp

[2021-11-02 21:48] thecliguy opened #128 "Should ssh-audit Scan for User Key Algorithms?"
I was recently working on a project where [GoAnywhere Managed File Transfer](https://www.goanywhere.com/) was used as an SFTP file transfer client. I noticed a feature that I've never seen in a file transfer client before which is the ability to configure the `RSA Key Signature Algorithm` that's used when authentication is performed with an RSA key pair (instead of a password).

This got me thinki

[2021-11-03 15:04] jtesta commented on #128
Let me make sure I'm understanding what you're saying.  You're talking
about public key user authentication using weak algorithms even though
the server is properly hardened?

Yes, that would be an issue.  And it looks like OpenSSH supports
restricting public key authentication algorithms too
(see PubkeyAcceptedAlgorithms, CASignatureAlgorithms, and
HostbasedAcceptedAlgorithms in: https://man.open

[2021-11-03 20:13] thecliguy commented on #128
Hi Joe - In a nutshell, I'm proposing that we consider adding functionality to ssh-audit so that it can scan for pubkey auth algorithms.

I think it would be fascinating to have visibility of this especially when using client and server products where it's not configurable (or even documented).

[2021-11-14 12:34] egberts opened #129 "offline analysis?"
It is too bad that we don’t have any offline analysis on `sshd_config` file

I would like to warn admins of badly formed `AuthenticationMethods` such as:

    password,pubkey # reverse these
    pubkey password  # missing comma

[2021-11-19 12:20] egberts commented on #129
I am reminded of this snippet:

https://serverfault.com/a/996992/250390

[2021-12-02 16:21] fansari opened #130 "error with policy: keys did not match"
I wrote a policy with these host keys:

[code]

On the analyzed host I see:

[code]

ssh-audit -P mypolicy.txt <hostip> shows this:

[code]

When I remove ssh-ed25519-cert-v01@openssh.com from the host keys in my policy the test passes.

Did I misconfigure something or is this a bug?

[2021-12-02 19:14] jtesta commented on #130
This... may be a bug.  Glad that you've got a temporary work-around at
least!

And either way, thanks for reporting!  I'll take a closer look at it
once I get some spare cycles...

[2021-12-10 23:03] oam7575 commented on #130
Hi All,

Possibly a silly question; but are you sure that you have enabled Certificate authentication for your SSH host?

My sshd config file had ssh-ed25519-cert-v01@openssh.com enabled as a valid host key algorithm.

sshd -T | grep hostkeyalgorithms
hostkeyalgorithms ssh-ed25519-cert-v01@openssh.com,ssh-ed25519,sk-ssh-ed25519@openssh.com,sk-ssh-ed25519-cert-v01@openssh.com,rsa-sha2-256,rsa-sha2-

[2021-12-10 23:20] oam7575 commented on #91
For what its worth it appears that ssh-audit has been updated to 2.5 in Ubuntu Jammy

https://packages.ubuntu.com/jammy/ssh-audit

I downloaded the package and installed on an Bionic 18.04 test box.

List of mirrors can be found here
https://packages.ubuntu.com/jammy/all/ssh-audit/download

[2022-01-10 16:07] thecliguy commented on #109
@jtesta Sorry for leaving this hanging for a ridiculously long time...

I've implemented `-g / --gex-test` to accept two types of input:

1. **Range Syntax:** `--gex-test=<bit_start;bit_end;bit_step>`
    Example - Scan from 0 bit to 5120 bit at increments of 1024 bit: `--gex-test=0;5120;1024`

    (**NB:** If `bit_start` is less than `bit_end` then the sequence is in descending order, EG: `--gex-

[2022-02-16 21:25] thecliguy commented on #109
@jtesta Hi Joe, hope you're well. I've gone ahead and implemented the new parameters `-g/--gex-test=` to test for Diffie-Hellman Group Exchange modulus size against a target server.

Please can you review my PR under #131 and provide feedback.

[2022-02-22 02:41] #127 closed

[2022-02-24 18:53] thecliguy commented on #109
@jtesta Just wondered if you'd had a chance to review #131?

There's some other issues I'd like to work on but I'd prefer to wait until #131 has been merged, if you're happy to accept it that is...

[2022-02-24 19:11] jtesta commented on #109
Yep, everything is going well here!  How about you?

I've fallen a bit behind on looking at PRs and issues, but I have some
free time this weekend that I'll put towards it.  Thanks for the ping!

[2022-02-24 20:55] thecliguy commented on #109
Everything good here thanks.

Thank you, that would be great.

On 24 February 2022 19:12:07 GMT+00:00, Joe Testa ***@***.***> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2022-03-01 18:38] antivirtel opened #132 "Remove Diffie Hellman algorithm suggestions"
Hi,

I've just used the v2.5.0 release of ssh-audit, it is a great tool, but it seems like it's still suggesting vulnerable things like `diffie-hellman-group14-sha1` eg. for EL6(CentOS 6) SSHd versions:

[code]

However we know that they're vulnerable/weak, OpenVAS is also alerting for that:

From the above, other than not to use EL6 anymore (which we know the reality of, in progress of migration,

[2022-03-01 21:49] jauderho opened #133 "Stop marking sntrup761x25519-sha512@openssh.com as experimental"
OpenSSH 8.9 was just released and as part of the release notes:

[code]

It might be time to not mark this as experimental now or in the near future given this development. Thoughts?

[2022-03-14 01:00] jtesta commented on #109
I applied the PR to branch "pr131" in order to fix the pylint errors,
consolidate the error checking, and make some other small fixes.  Can
you give this branch a test and see if it works?  If so, I'll merge it
into the master branch.

[2022-03-14 10:03] egberts commented on #109
Ummm.  About that uppercase option, I was racking my mind about the potential (but wider) use of the lowercase g option.

I do do lots of code reviews and unit tests on OpenSSH.

At the moment, closest lowercase g (and better?) candidate seems to be GSSAPI and grouping of `AuthenticationMethods`, neither are network-based analysis that ssh-audit focus on.

Should be good for using that lowercase g

[2022-03-14 10:37] thecliguy commented on #109
@jtesta Thanks very much, I'll do some testing against that branch later today and will get back to you with any feedback...

[2022-03-16 10:49] thecliguy commented on #109
@jtesta Sorry for the delay, I've now tested the branch "pr131".

Please can you make one minor change...

The following in the man page should be changed from `<n[,n,...]>` to `<x[,y,...]>`:

https://github.com/jtesta/ssh-audit/blob/d59cabe48489c1f40049b7c4b9ceaad1a57e9724/ssh-audit.1#L65

Other than that, it all looks good to me. Thanks for reviewing the PR, much appreciated.

[2022-03-23 20:06] thecliguy commented on #109
@jtesta Are you happy to merge "pr131" just with that one minor change to the man page that I mentioned in my last comment?

[2022-03-23 21:31] jtesta commented on #109
Yep, I'll be merging that soon!

[2022-03-23 21:48] thecliguy commented on #109
Fantastic, thank you 👍

[2022-03-24 17:59] thecliguy commented on #109
@jtesta Thanks for merging.

Should the Usage section of `README.md` be updated to include `-g` and `--gex-test`? Or do you only update this once a new release has been made?

[2022-03-24 20:54] jtesta commented on #109
Yes, that should be updated too.  I usually do that as soon as a new
feature is added, but I overlooked that this time.

[2022-03-27 15:27] thecliguy commented on #109
@jtesta I've updated the `README.md`, see #135.

Please can you merge when you get time and then this issue can be closed.

[2022-04-08 17:43] jauderho commented on #133
OpenSSH 9.0 is now released and uses as the default.

[code]

https://www.phoronix.com/scan.php?page=news_item&px=OpenSSH-9.0-Released

[2022-04-10 16:17] jtesta commented on #133
Committed in 113d1de443e816a7f59328271b2bd544c29616c4.

Thanks for the heads up!

[2022-04-10 16:17] #133 closed

[2022-04-10 16:35] jtesta commented on #132
Hi there.  In your first example for CentOS 6, you posted this:

[code]

Its actually advising you to remove `diffie-hellman-group14-sha1`, not include it.

Regarding `diffie-hellman-group-exchange-sha256`, that can be good or bad, depending on the moduli the server is configured with.  In OpenSSH, that's controlled by the /etc/ssh/moduli file (see the hardening guides here for removing the weak m

[2022-04-10 16:35] #132 closed

[2022-04-10 16:36] jtesta commented on #129
That would be useful, but outside the scope of this project.

[2022-04-10 16:36] #129 closed

[2022-04-10 16:48] thecliguy commented on #109
Thanks for updating the README with #135.

[2022-04-10 16:48] #109 closed

[2022-04-10 18:35] thecliguy commented on #91
It's great to see that [v2.5.0](https://github.com/jtesta/ssh-audit/releases/tag/v2.5.0) of ssh-audit which was released on 26 Aug 2021 was quickly packaged into Debian unstable just three days later on 29 Aug 2021 _(according to the newsfeed on the [Debian Package Tracker](https://tracker.debian.org/pkg/ssh-audit) and the [unstable change log](http://metadata.ftp-master.debian.org/changelogs/main

[2022-04-10 21:19] jauderho commented on #133
Are you planning on making a new release anytime soon? Last release looks like it was back in Aug.

[2022-04-11 16:09] jtesta commented on #133
Yes, I'd like to make one as soon as I finish work on #120.  I feel
like I just need to find a good 4 hour block of time to get it done...

[2022-04-11 19:18] thecliguy opened #136 "Deprecation of ssh-rsa in OpenSSH"
In February 2020, OpenSSH issued a "Future Deprecation Notice" of the ssh-rsa algorithm, see https://www.openssh.com/txt/release-8.2.

Then in August 2021, OpenSSH raised this to an "Imminent Deprecation Notice", see https://www.openssh.com/txt/release-8.7.

Finally in September 2021, OpenSSH disabled the use of ssh-rsa by default, see https://www.openssh.com/txt/release-8.8.

@jtesta - I can subm

[2022-05-04 11:55] matsimon opened #137 "Aruba AOS-S 16.11 hardening guide added to the Wiki"
Thank you for ssh-audit, it has been a helpful tool for me so far!

I've added a hardening guide for Aruba's ArubaOS Switch (AOS-S) 16.11 to the wiki, while trying to remain close to the style of the guide on ssh-audit.com. I've not yet added a link to the main page of the hardening guide, if there are any objections, please let me know.

[2022-05-04 11:57] matsimon commented on #137
Here is the direct link:
https://github.com/jtesta/ssh-audit/wiki/ArubaOS-Switch-(AOS-S)-16.11

[2022-05-05 17:56] severach opened #138 "Add Client Audit warning for poor algorithm order"
Since the client order determines what is selected, for the client audit add a warning on poor order. For JSCH-0.1.54

JSCH Client server hostkey algorithms: `ssh-rsa,ssh-dss,ecdsa-sha2-nistp256,ecdsa-sha2-nistp384,ecdsa-sha2-nistp521`

`ssh-dss` should not be before `ecdsa`?

JSCH Client-to-server encryption algorithms: `aes128-ctr,aes128-cbc,3des-ctr,3des-cbc,blowfish-cbc,aes192-ctr,aes192-cbc,a

[2022-05-07 03:14] egberts commented on #138
ordering should be at worse a yellow alert.  its hard to qualify strength between some algos.  the easy algos should be in bit-strength, but dont try to compare bit with EC.

[2022-05-10 18:49] thecliguy commented on #138
@severach A policy audit might provide the functionality you seek...

* Configure your SSH client so it is adheres to your security requirements.
* Build a policy file modeled on your client as the exemplar:
  * `ssh-audit -c 127.0.0.1 --make-policy=MyPerfectClientPolicy.txt`
  * Using your SSH client, connect to 127.0.0.1 on port 2222.
* Scan your client using the policy file:
  * `ssh-audit -c 1

[2022-05-17 17:58] severach opened #139 "Server encryption aes256-cbc is black in web client, red in local client"
All CBC should be red and have the CBC note, including CBC that are red for other reasons.

Server `hmac-sha2-256-etm@openssh.com` is black in the web client and green in the local client. Some MACs like etm should be green in the webclient unless you're suggesting we all switch to -gcm and eliminate the separate MAC.

~~Server `diffie-hellman-group-exchange-sha256 (1024-bit)` is red. Client `diff

[2022-05-22 00:52] thecliguy commented on #136
@jtesta Hi Joe, sorry to chase...

I'm happy to submit the PR for this myself but before doing so just wanted to get your opinion on this:

[2022-06-22 07:21] mpet opened #140 "Why is there a warning of using hmac-sha2-512/256?"
Hi,

We had some guys in our project running an audit with this tool. They got the following message.

![image](https://user-images.githubusercontent.com/1445826/174967419-0d203455-ace6-419b-b08b-8351b8f11597.png)

Now they want to remove the support for these MAC algorithms. Could you explain why these algorithms are not secure? I googled it and could not find any facts supporting it.

br,

//mik

[2022-06-22 07:44] egberts commented on #140
SHA2 is like a either-OR algorithm and one of its digest algorithms is weaker enough to fit the audit of “weak”.

[2022-06-22 08:35] mpet commented on #140
Where is the common consensus for this opinion? Which digest algorithm are you referring to? Where can I read about it?

[2022-06-22 09:46] egberts commented on #140
SHA-2 is a 21 year old standard.  And is easily collided.

https://eprint.iacr.org/2011/286.pdf

[2022-07-08 11:31] egberts opened #141 "SSH comparison chart (reference)"
Just leaving this SSH comparison chart here in case some documentation page comes along to soak this up.

https://ssh-comparison.quendi.de/comparison/cipher.html

[2022-07-08 11:56] manfred-kaiser commented on #141
Thanks for the comparison. Great work :+1:

[2022-07-21 04:47] dodexahedron opened #143 "GSSAPI kex methods not recognized"
With GSSAPIKeyExchange enabled on openssh, ssh-audit does not recognize most of the kex algorithms for it, and flags them as unknown, except for `gss-group14-sha256-`, which it shows as green. The same algorithms are configured on my hosts with GSS as on the hosts without it, and they're known safe/strong algorithms that are shown in green for non-gss versions.

Looks like just missing entries for

[2022-07-29 09:56] BjoernAkAManf opened #144 "[exception] did not receive MSG_KEXINIT (20), instead received unknown message (1)"
Hi!

I'm working on a product, that needs to implement ssh / scp themselves. I've read a dozens of rfc's myself already, but still would rather not implement everything myself. As such I've opted to use Apache [Mina SSHD](https://github.com/apache/mina-sshd).

Trying to disable the ecdsa-sha2-nistp521 Signature however seems to be problematic. I can see, that ssh-audit tries connecting with only t

[2022-07-30 23:01] thecliguy commented on #144
Please can you:

  * Run `ssh-audit --help` and provide the first line of output.
  * Run your ssh-audit command but with the addition of the `--debug` parameter and paste the output returned. If there's anything in the output that you'd prefer to keep private then replace it with the word `REDACTED`.

[2022-08-02 13:03] BjoernAkAManf commented on #144
I've updated the initial post with the output.

After skimming the Git Commit Messages, i don't think there is a particular fix in dev either.
I also do not think any output needs to be redacted either. Hope this additional Information is helpful.

[2022-08-03 21:39] thecliguy commented on #144
Hi,

Thanks for providing the additional information requested.

When ssh-audit is used against a server it acts as a client. The majority of the information that ssh-audit obtains is gathered by issuing an `KEXINIT` to the server and then analysing the `KEXINIT` that it gets back from the server.

In my experience, when a client issues a `KEXINIT` to a server, the server should respond with a `KE

[2022-09-11 09:07] Ricky-Tigg opened #145 "Python file"
(output truncated)
[code]
Hello. Be it unknown or not to Python, the license is dully mentioned here
[code]
Whatever the side the issue has root, it is worth fixing. Copyright's end-year might require up-to-date number. Worth noting that an **en-dash** (–), is what the usage defines as applying to range of dates, not a **hyphen** (-), which is commonly misused by developers.

[2022-09-12 21:10] bsweeney-gingerio opened #146 "XMSS Keys Not Recognized"
[code]

XMSS is a candidate quantum-safe signature algorithm that is still considered experimental in OpenSSH and is gated behind a compile-time flag. It was added in OpenSSH 7.6.

[2022-09-14 09:00] bbaassssiiee commented on #136
A warning at least IMHO.

[2022-09-26 07:09] jatpat opened #147 "-ssh-rsa is marked with Red color but in server config I did not found it"
Hi,

I tested my sftp server and found that **-ecdsa-sha2-nistp256**  and **-ssh-rsa**  algorithms are marked with Red color in test output, but when I check in config file on server, I did not found any of them algorithm in the list.

I have attached scrrenshots.

**Test output:**

![image](https://user-images.githubusercontent.com/6779382/192214133-0bc65009-10e5-4bcf-88c3-beed4702df7a.png)

Serv

[2022-09-26 19:03] egberts commented on #147
`-ssh-rsa` has been obsoleted and is no longer found in OpenSSH v8.7+

And `ecdsa-sha2-nistp256` is on the way out since v7.6.  Also Oracle and SFTP has problem with this last July 2022.

https://stribika.github.io/2015/01/04/secure-secure-shell.html

[2022-09-27 11:20] jatpat commented on #147
That is understood and fine with that, but I have question here that why ssh-audit tool is showing **-ecdsa-sha2-nistp256** and **-ssh-rsa** algorithms which are not listed in server config file.

[2022-09-30 10:31] jatpat commented on #147
hi @thecliguy ,

Thank you for reply.

[2022-09-30 12:11] thecliguy commented on #147
Hello @jatpat

If you want to retain `rsa-sha2-256` & `rsa-sha2-512`, and eliminate the use of `ssh-rsa` and `ecdsa-sha2-nistp256` (which are marked as "fail" on the audit), then:
  * Add this to your config file: `HostKeyAlgorithms rsa-sha2-256,rsa-sha2-512`
  * Restart the SSH server service.
  * Re-run ssh-audit.

But before you do any of this, make sure that the client software you use to conn

[2022-10-04 16:35] thecliguy opened #148 "Unknown Algorithm: hmac-sha1-96@openssh.com"
Hi @jtesta

I ran an ssh-audit client scan against [Cyberduck](https://cyberduck.io/) version 8.4.4 (38366) on Windows and it reported an unknown algorithm:

[code]

The algorithm `hmac-sha1-96` is present in `ssh2_kexdb.py` but not this `@openssh.com` specific implementation of it.

Something that occurred to me is whether `hmac-sha1-96@openssh.com` really exists or not... So I searched the [Open

[2022-10-09 15:26] pedrohdz opened #149 "Unknown algorithm(s) found: webauthn-sk-ecdsa-sha2-nistp256@openssh.com"
[code]

[2022-10-09 15:39] egberts commented on #148
It is a Cisco thing.  Was created to deal with existing (but broken) IPSec used within Cisco products.

https://community.cisco.com/t5/other-security-subjects/difference-between-mac-algorithms-hmac-sha1-and-hmac-sha1-96/td-p/4046166

[2022-10-11 01:32] jtesta commented on #149
@pedrohdz : Thanks for reporting this!  I checked in an update to the master branch to address this (it should flag it as using a weak curve since its based on NIST P-256).  Can you give it a try and see if it works for you?

[2022-10-11 01:32] #149 closed

[2022-10-11 07:15] jtesta commented on #109
Thanks again for all your work!

[2022-10-11 08:57] jtesta commented on #143
Thanks for reporting this!  Sure, a PR would be most welcome!

On Wed, 2022-07-20 at 21:47 -0700, dodexahedron wrote:

--
Joseph S. Testa II
Founder & Principal Security Consultant
Positron Security

[2022-10-11 19:02] thecliguy opened #151 "Reformat the Usage Text for --gex-test"
The usage text in `ssh_audit.py` was neatly arranged so it doesn't exceed 80 characters... However `--gex-test` now breaks this convention:

[code]

Also (a minor point), `min:pref:max[,min:pref:max,...]` should be `min1:pref1:max1[,min2:pref2:max2,...]` to be consistent with the man page. But this change with the existing formatting would make the line even longer (by an extra six characters).

@

[2022-10-13 09:30] pedrohdz commented on #149
@jtesta
Looking good!  Thank you for the quick turnaround!

[code]

[2022-10-13 10:55] kastahl opened #152 "LookupError: unknown encoding: idna"
I get an exception when scanning some targets using targets file. When scanning these targets manually, it works fine.

I'm using the ssh-audit.exe in Version 2.5 on a Windows 10 VM.
For me it looks like to be an issue of missing import: `import encodings.idna`

An exception occurred while scanning 10.2xx.xx.xx:22:
Traceback (most recent call last):
File "ssh-audit.py", line 1017, in target_worker

[2022-10-13 19:24] thecliguy commented on #152
@kastahl I have done some debugging and it looks like this problem is very specfic to the executable version of ssh-audit for Windows which is built using [pyinstaller](https://pyinstaller.org/en/stable/).

Please can you tell me, how many targets do you have in your targets file?

[2022-10-14 07:31] kastahl commented on #152
@thecliguy There just 9 targets in the targets file. The first 4 targets will be processed.

[2022-10-14 07:53] thecliguy commented on #152
@kastahl Are all 9 targets scanned successfully if you use the parameter `--threads=1`?

EG:

[code]

[2022-10-14 13:41] kastahl commented on #152
@thecliguy That works and all targets will be processed now. :)

[2022-10-14 14:04] thecliguy commented on #152
@kastahl Thanks for testing, much appreciated.

This confirms my suspicion that the problem relates to multithreading and appears only to affect the Windows executable version of ssh-audit.

Please leave this ticket open because although we now have a workaround (which is to avoid multiple threads), there is still a bug that needs to be fixed properly.

[2022-10-14 21:22] thecliguy opened #153 "Usage Output Doesn't Respect -n/--no-colors"
A very minor issue...

The output produced by `usage` doesn't respect `-n`/`--no-colors`.

Should be an easy fix.

[2022-10-15 02:40] jtesta commented on #153
Do you mean while running ssh-audit.py -n -h ?

[2022-10-15 02:42] jtesta commented on #152
Thanks for helping with this, @thecliguy.  I'll investigate this
further next time I do testing on my Windows machine.

[2022-10-15 02:45] jtesta commented on #151
Yep, sounds good!

[2022-10-15 02:58] jtesta commented on #148
Thanks for reporting this, @thecliguy !  I've committed this to master.

[2022-10-15 02:58] #148 closed

[2022-10-15 03:04] jtesta commented on #147
Thanks for answering this, @thecliguy !

[2022-10-15 03:04] #147 closed

[2022-10-15 03:06] jtesta commented on #145
@Ricky-Tigg : Thanks for bringing this up.  I'll take a closer look next time I poke around with the PyPI packaging.

[2022-10-15 03:22] jtesta commented on #146
Thanks for reporting this, @bsweeney-gingerio !  I've checked these into the master branch.

[2022-10-15 03:22] #146 closed

[2022-10-15 07:44] thecliguy commented on #153
Yes, that's correct, using `-n -h` together.

Do you see any reason against adding a new argument in `usage` that accepts an output buffer? My assumption is we could then pass a reference to the output buffer that's instantiated in `main`.

I'm happy to take a look at this if the above sounds OK...

[2022-10-17 09:04] manfred-kaiser opened #154 "Use Python's argparse module for argument parsing"
At the moment, ssh-audit uses it's own argument parsing logic. This requires to write the usage and the parsing logic in 2 different functions, which makes it hard to extend.

I would suggest to rewrite the parsing logic to python's argparse module, because it makes it easier to extend and easier to use.

[2022-10-17 12:24] hmaier1996 opened #155 "Add more servers and clients to the vulnerability database"
At the moment only OpenSSH, Dropbear and PuTTY are covered by the [vulnerability database](https://github.com/jtesta/ssh-audit/blob/3300c60aaa3603f1683fba9454e792e270672055/src/ssh_audit/versionvulnerabilitydb.py).

A lot of servers are missing. For example [Gitea](https://gitea.io) is a git server, which has it's own ssh server implemented.
It would be good to add those applications to the ssh-au

[2022-10-17 12:33] hmaier1996 opened #156 "Only SHA256 fingerprints are calculated - no MD5 and SHA512"
When scanning a remote server, only the sha256 fingerprints are shown.

It would make sense, to calculate the fingerprint with different hash algorithms, because not every client uses a sha256 hash for fingerprint calculation.

Following hash algorithms should be used:

- MD5 (deprecated but there are still clients which are using MD5)
- SHA512 (rarely used but some clients exist which are using S

[2022-10-17 13:01] manfred-kaiser commented on #155
@hmaier1996 version fingerprinting for gitea is not possible, because the banner is "SSH-2.0-Go".

The only usfull information is the programming language "go".
Adding a entries to the vulnerability database might not be possible for all server implementions.

[2022-10-17 13:03] hmaier1996 commented on #155
thanks for the information. Gitea was only an example for other servers :disappointed:

Perhaps there are other servers, which provide more information :wink:

[2022-10-17 13:10] manfred-kaiser commented on #153
Switching to python argparse might resolve this issue: #154

If it's ok, I will rewrite the argument parsing part.

[2022-10-17 13:29] thecliguy commented on #156
The MD5 fingerprint is already handled - but it's only shown if you use `-v / --verbose`.

JSON output will always include MD5 because it implicitly invokes verbosity.

This is an intentional design decision to avoid cluttering the output with something that doesn't have mainstream appeal.

For the background, see #102.

[2022-10-17 13:43] thecliguy commented on #153
I would strongly encourage you to get an opinon from @jtesta before investing time in writing such a change.

My only concern is that there's sometimes a tradeoff between using a programming language's own argument parsing vs rolling your own... Using a programming languages argument parsing usually means writing less code which is of course very appealing... But on the other hand, you may lose a

[2022-10-17 14:02] #154 closed

[2022-10-17 20:12] thecliguy commented on #151
PR submitted, see #158.

[2022-10-27 14:23] jtesta commented on #155
I wouldn't mind adding this to the database, but realistically, I'm not sure I'd be able to keep it up-to-date in the long term.  But if someone in the community submitted a PR, I'd happily merge it!

[2022-10-27 14:23] #155 closed

[2022-10-27 14:27] jtesta commented on #151
Merged in https://github.com/jtesta/ssh-audit/commit/e50ac5c84d46e902e026babd22b5f3b4465fa93c via #158.

[2022-10-27 14:27] #151 closed

[2022-11-09 08:23] graysky2 opened #159 "Dropbear ssh hardening guide addition"
The current release of dropbear can be hardened by building it adding the following three lines to `localoptions.h`:
[code]

Wondering if you would like to add this to your hardening guide.

Reference: https://github.com/mkj/dropbear/issues/138